

/* ========== Editor ======== */


.e4x {
    background-color: white;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
}

.e4xFocus {
    border: 1px solid #5f7ab1;
    box-shadow: 0 0 6px rgba(95, 122, 177, 0.8);
}


/* ========= Toolbar ======== */


.e4xToolbar {
    display: none;
    margin-right: 8px;
    position: fixed;
    border: 1px solid #5f7ab1;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(95, 122, 177, 0.8);
    overflow: hidden;
    z-index: 10;
}

/* ~~~~~~ Element trail ~~~~~ */

.e4xElementTrail {
    font-size: 69.5%;
    font-family: sans-serif;
    height: 1.2em;
    padding: 2px 4px 2px 4px;
    color: #4f4f4f;
    background-color: #fafafa;
    cursor: move;
}

/* ~~~~~~~~~~ Button ~~~~~~~~ */

.e4xButtons {
    padding-top: 4px;
    background-color: #eeeeee;
    background: linear-gradient(#eeeeee, #bbbbbb);
}

.e4xButtonGroup {
    display: inline-block;
    margin: 0 3px 0 3px;
    border: 1px solid #999999;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fafafa;
    background: linear-gradient(#fafafa, #cccccc);
}

.e4xButtonSeparator {
    display: block;
    float: left;
    margin-top: 3px;
    color: #999999;
}

.e4xButton {
    float: left;
    display: block;
    margin: 1px;
    padding: 3px 2px 1px 2px;
    min-width: 16px;
    min-height: 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    overflow: hidden;
    font-size: 85%;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px 0 white;
    text-decoration: none;
    text-align: center;
    color: black;
}
.e4xButton:hover {
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    text-decoration: none;
    box-shadow: none;
}
.e4xButtonDisabled {
    cursor: default;
    opacity: 0.4;
}
.e4xButtonActive {
    border: 1px solid #5f7ab1;
    box-shadow: 0 0 6px rgba(95, 122, 177, 0.8) inset;
}

.e4xButtonSource { background: url("../Images/editor4xml.png") no-repeat 0 0; }
.e4xButtonParent { background: url("../Images/editor4xml.png") no-repeat -20px 0; }
.e4xButtonEdit { background: url("../Images/editor4xml.png") no-repeat -40px 0; }
.e4xButtonClean { background: url("../Images/editor4xml.png") no-repeat -60px 0; }
.e4xButtonDelete { background: url("../Images/editor4xml.png") no-repeat -80px 0; }
.e4xButtonOther { background: url("../Images/editor4xml.png") no-repeat -100px 0; }
.e4xButtonSymbols { background: url("../Images/editor4xml.png") no-repeat -120px 0; }
.e4xButtonIPA { background: url("../Images/editor4xml.png") no-repeat -140px 0; }
.e4xButtonMaths { background: url("../Images/editor4xml.png") no-repeat -160px 0; }
.e4xButtonCopy { background: url("../Images/editor4xml.png") no-repeat -200px 0; }
.e4xButtonCut { background: url("../Images/editor4xml.png") no-repeat -220px 0; }
.e4xButtonPaste { background: url("../Images/editor4xml.png") no-repeat -240px 0; }
.e4xButtonPasteText { background: url("../Images/editor4xml.png") no-repeat -260px 0; }
.e4xButtonPasteHtml { background: url("../Images/editor4xml.png") no-repeat -280px 0; }
.e4xButtonTune { background: url("../Images/editor4xml.png") no-repeat -300px 0; }

.e4xButtonMath { background: url("../Images/editor4xml.png") no-repeat 0 -100px; }
.e4xButtonMathSqrt { background: url("../Images/editor4xml.png") no-repeat -20px -100px; }
.e4xButtonMathFrac { background: url("../Images/editor4xml.png") no-repeat -40px -100px; }
.e4xButtonMathVector { background: url("../Images/editor4xml.png") no-repeat -60px -100px; }
.e4xButtonMathHat { background: url("../Images/editor4xml.png") no-repeat -80px -100px; }
.e4xButtonMathBar { background: url("../Images/editor4xml.png") no-repeat -100px -100px; }
.e4xButtonMathExpSub { background: url("../Images/editor4xml.png") no-repeat -140px -100px; }

.e4xButton-tune-latex-newpage { background: url("../Images/editor4xml.png") no-repeat -420px -100px; }
.e4xButton-tune-latex-newline { background: url("../Images/editor4xml.png") no-repeat -400px -100px; }

/* ~~~~~~~~ SubToolbar ~~~~~~ */

.e4xSubToolbar {
    float: left;
    position: fixed;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10;
}

.e4xSubToolbar .e4xButtonGroup {
    display: block;
    margin: 0;
    border: none;
    border-radius: 0;
    background: #eeeeee;
}

/* ~~~~~~~~~~~ Menu ~~~~~~~~~ */

.e4xMenu {
    float: left;
    position: fixed;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.e4xMenuKey {
    padding: 2px;
    font-weight: bold;
    background-color: #eeeeee;
}

.e4xMenuValues a {
    display: block;
    padding: 2px 10px 2px 1.5em;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
.e4xMenuValues a:hover {
    background-color: #f0f8ff;
}


/* ======== Dialog box ====== */


/* ~~~~~~~~ DialogBox ~~~~~~~ */

.e4xDialogBoxMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aeaea0;
    opacity: .4;
    z-index: 100;
}

.e4xDialogBox {
    position: fixed;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #bbbbbb;
    background-color: white;
    font-family: sans-serif;
    min-width: 15em;
    z-index: 200;
}

.e4xDialogBoxTitle {
    padding: 7px 5px 0 5px;
    border-bottom: 1px solid #bbbbbb;
    border-radius: 3px 3px 0 0;
    background: linear-gradient(#fafafa, #cccccc);
    color: #4f4f4f;
    font-weight: bold;
    font-size: 85%;
    text-shadow: 0 1px 0 white;
    cursor: move;
}

.e4xDialogBoxTitle .first { float: left; }
.e4xDialogBoxTitle .last { text-align: right; }

.e4xDialogBoxTitle .last a {
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url("/Static/Images/close_dark.png") no-repeat 0 0;;
}

.e4xDialogBoxContent {
    margin: 10px;
}

.e4xDialogBoxContent .e4xButtonGroup  {
    width: 100%;
    margin: 0 0 1em 0;
}

.e4xDialogBoxButtons {
    text-align: right;
    margin: 1.5em 0 12px 0;
}

.e4xDialogBoxButtons a {
    margin-left: 1em;
    padding: .5em 1em .4em 1em;
    border: 1px solid #999999;
    border-radius: 3px;
    background: linear-gradient(#fafafa, #bbbbbb);
    font-size: 85%;
    color: #004080;
    text-shadow: 0 1px 0 #eeeeee;
}
.e4xDialogBoxButtons a:hover {
    text-decoration: none;
}
.e4xDialogBoxButtons a:first-child {
    margin-left: 0;
}

#e4xOk {
    font-weight: bold;
}

/* ~~~~~~~~ Attributes ~~~~~~ */

.e4xAttribute {
    margin-bottom: .4em;
}

.e4xAttribute input,
.e4xAttribute select {
    margin: 0;
}

.e4xAttrName {
    display: inline-block;
    min-width: 6em;
    font-weight: bold;
}

/* ~~~~~~~~ Resources ~~~~~~~ */

.e4xResources {
    width: 100%;
    border: 1px solid #bbbbbb;
    border-collapse: separate;
    border-spacing: 5px 5px;
    background: linear-gradient(#fafafa, #eeeeee);
    line-height: normal;
}

.e4xResources tr, .e4xResources td {
    border: none;
    padding: 0;
    vertical-align: top;
}

.e4xResources .e4xRsrcDirs {
    border: 1px solid #bbbbbb;
    background-color: white;
}

.e4xRsrcDirs div {
    max-height: 180px;
    min-height: 100px;
    min-width: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}

.e4xRsrcDirs div div {
    padding: 0 5px 0 20px;
    margin: 5px;
    min-height: 1em;
    background: url("../Images/e4x_folder.png") no-repeat 0 0;
    cursor: pointer;
    overflow: visible;
}

.e4xResources .e4xRsrcFiles {
    border: 1px solid #bbbbbb;
    background-color: white;
}

.e4xRsrcFiles div {
   max-height: 380px;
   min-height: 15em;
   min-width: 15em;
   overflow-y: auto;
   overflow-x: hidden;
}

.e4xRsrcFiles div div {
    font-size: 93%;
    min-height: 1em;
    margin: 5px;
    cursor: pointer;
    overflow: visible;
    color: black;
}

.e4xRsrcDirs .e4xSelected,
.e4xRsrcFiles .e4xSelected {
    background-color: #f0f8ff;
    font-weight: bold;
}

.e4xResources .e4xRsrcMedia {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bbbbbb;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    background-color: white;
    background-image: linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%),
                      linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}
.e4xRsrcMedia img,
.e4xRsrcMedia video {
    max-height: 210px;
    max-width: 280px !important;
    vertical-align: middle;
}

.e4xResources .e4xRsrcAll {
    vertical-align: bottom;
    color: black;
}

/* ~~~ Glossary References ~~ */

.e4xGlossaryRefs {
    border: 1px solid #bbbbbb;
    background-color: white;
    margin-left: 1em;
    min-height: 15em;
    max-height: 380px;
    overflow: auto;
}

.e4xGlossaryRefs > li {
    list-style: none;
    margin: 5px;
    cursor: pointer;
}

.e4xGlossaryRefs .e4xSelected {
    background-color: #f0f8ff;
    font-weight: bold;
}


/* ========= Surface ======== */


.e4xSurface {
    padding: 5px;
    overflow: auto;
    outline: none;
    word-wrap: break-word;
}

.e4xTextarea {
    min-height: 1.3em;
    resize: vertical;
}

.e4xInput {
    height: 1.3em;
    padding: 3px 1px 2px 1px;
}

.e4xPI {
    display: none;
}

.e4xHold {
    display: inline-block;
    min-height: 1em;
    border-left: 2px dotted #3333ff;
}

/* ========== Source ======== */


.e4xSource {
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 3px;
    resize: vertical;
    background-color: #fafafa;
}

input[type="text"].e4xSource {
    background-color: #fafafa;
}


/* ======== Clipboard ======= */


.e4xClipboardWarning {
    max-width: 400px;
    margin-bottom: 1em;
    color: #4f4f4f;
}

.e4xClipboard {
    max-width: 400px;
    min-height: 200px;
    max-height: 50%;
    resize: vertical;
    border: 1px solid #5f7ab1;
    outline: none;
}


/* ======== PI ======= */


.e4xPI-tune-latex-newline {
    display: inline;
    color: #ae681f;
}
.e4xPI-tune-latex-newline::before {
    content: "\21B5";
}

.e4xPI-tune-latex-newpage {
    display: block;
    color: #ae681f;
}
.e4xPI-tune-latex-newpage::before {
    content: "<----- Page break ----->";
    display: block;
    text-align: center;
    font-style: italic;
}


/* ========== Misc ========== */


.e4xEdit {
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url("../Images/editor4xml.png") no-repeat -40px 0;
    cursor: pointer;
}

.e4xClear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
