@charset "UTF-8";
/* ******************************* PUBLIQUIZ ******************************* */
@font-face {
  font-family: 'FontAwesome';
  src: url("../Fonts/FontAwesome.otf") format("opentype"), url("../Fonts/FontAwesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*
 * ========= TOP LEVEL =========
 */
/* --------- publiquiz ------ */
.pquizQuiz, .publiquiz {
  position: relative; }

.publiquiz table {
  clear: left;
  line-height: 2em; }

.publiquiz input:disabled,
.publiquiz textarea:disabled,
.publiquiz select:disabled {
  opacity: 1;
  color: black; }

/* ---- pquizQuizOneFile ---- */
.pquizQuiz.pquizQuizOneFile {
  border-bottom: 3px solid #dcdcdc;
  margin-bottom: 1em;
  padding-bottom: 1em; }

/*
 * ====== SECTION LEVEL ========
 */
/* ------ pquizElement ------ */
.pquizElements {
  margin: .8em 1em 0 1.5em; }

.pquizElement {
  margin-bottom: 1em; }

/* --- pquizInstructions ---- */
.pquizInstructions {
  font-weight: bold;
  color: pquizText-color;
  font-family: serif; }

.pquizInstructions .pdocSection-ex {
  font-weight: normal; }

/* ------- pquizEngine ------ */
.pquizEngine {
  margin-top: .8em;
  font-family: serif; }

/* --- pquizStateDisabled --- */
.pquizStateDisabled {
  opacity: 0.4; }

/* -------- pquizText ------- */
.pquizText {
  line-height: 2em; }

.pquizText td {
  padding: .3em .5% .3em .5%; }

/* -------- pquizHelp ------- */
.pquizHelpButton {
  margin-top: 1em; }

.pquizHelpText {
  display: none;
  margin-top: 1em;
  padding: .5em;
  border: 1px solid pquizHelp-color;
  font-family: serif; }

.pquizHelpText h1 {
  margin: 0 0 .5em 0; }

.pquizHelpText legend {
  color: pquizHelp-color;
  font-weight: bold;
  font-family: sans-serif; }

/* -------- pquizPopUp ------- */
.pquizHelpPopUp .helpContainer {
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid pquizBorder-color;
  box-shadow: 2px 2px 8px #bbbbbb;
  padding: 8px; }

.pquizHelpPopUp .helpLegend {
  font-weight: bold;
  margin: 0 20px 1em 0; }

.pquizHelpPopUp .helpClose {
  float: right;
  text-align: right;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: url(../Images/close.png) no-repeat; }

.pquizHelpPopUp .helpClose:hover {
  background-position: 0 -16px; }

/* ------- pquizAnswer ------ */
.pquizAnswerText {
  display: none;
  margin-top: 1em;
  padding: .5em;
  border: 1px solid #339933;
  font-family: serif; }

.pquizAnswerText legend {
  color: #339933;
  font-weight: bold;
  font-family: sans-serif; }

/* -------- pdocMedia ------- */
.pquizMatching .pdocMedia {
  margin-top: 0; }

/*
 * ======= BLOCK LEVEL =========
 */
/* ------ pquizContent ------ */
.pquizContent {
  clear: left; }

/* ------ pquizSentence ----- */
.pquizSentence {
  margin-top: 1.0em; }

/* ------- pquizItems ------- */
.pquizItems,
.pquizCategories,
.pquizCategoriesItems,
.pquizCategoriesLegendItems {
  display: inline-block;
  padding: 1em 0 0 1em;
  margin-bottom: 1em;
  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid pquizBorder-color;
  box-shadow: 2px 2px 8px #bbbbbb;
  min-height: 2.8em;
  min-width: 8em; }

.pquizPickFloat {
  float: left;
  max-width: 48%;
  margin-right: 10px; }

.pquizDropFloat {
  float: left;
  max-width: 48%;
  margin-right: 10px; }

table.pquizDropFloat {
  float: none;
  display: inline; }

.pquizItem,
.pquizCategory,
.pquizCategoryItem,
.pquizCategoryLegendItem {
  display: inline-block;
  padding: .2em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #f0f8ff;
  border-radius: 5px;
  border: 1px solid #7f7f7f;
  white-space: nowrap;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none; }

.answer .pquizItem,
.answer .pquizCategory,
.answer .pquizCategoryItem,
.answer .pquizCategoryLegendItem {
  cursor: default; }

.pquizItem.answerOk {
  color: black;
  border-bottom: 2px solid #54eb5a; }

.pquizItem.answerKo {
  color: black;
  border-bottom: 2px solid pquizKo-color; }

.pquizItem img {
  max-width: 120px;
  max-height: 120px; }

.pquizItemDropped {
  margin: 0;
  line-height: 1.2em; }

.pquizItemImageDropped {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  text-align: center; }

/* ---- pquizItemLetter ----- */
.pquizItemLetter {
  float: left;
  text-align: center;
  padding: 0.2em;
  min-width: 1.5em;
  min-height: 1.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #e8f0f7;
  border-radius: 5px;
  border: 1px solid #7f7f7f;
  white-space: nowrap;
  cursor: pointer; }

.pquizItemLetter.selected {
  color: #ffffff;
  background-color: #0086cb; }

/* ------ pquizDropzone ----- */
.pquizDropzone {
  font-size: 108%;
  text-shadow: 1px 1px 1px #bbbbbb; }

.pquizDropzone-visible {
  background-color: rgba(220, 220, 220, 0.4); }

/* ------ pquizMessage ------ */
.pquizMessage {
  width: 45%;
  text-align: center;
  font-weight: bold;
  z-index: 1; }

.pquizMessage .pquizScore {
  float: none;
  margin-bottom: 0.5em; }

.pquizMessageContent {
  background-color: #fefefe;
  border-radius: 5px;
  border: 1px solid pquizBorder-color;
  box-shadow: 2px 2px 8px #bbbbbb;
  padding: 8px; }

.pquizMessageContent .pquizP {
  margin-bottom: 0; }

.pquizMessageClose {
  float: right;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url(../Images/close.png) no-repeat; }

.pquizMessageClose:hover {
  background-position: 0 -16px; }

/* ------- pquizScore ------- */
.pquizScore:before {
  content: "Score : "; }

.pquizScore {
  float: left;
  font-weight: bold; }

/* ------ pquizLoading ------ */
.pquizLoading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7); }

.pquizLoading::before {
  content: url("../Images/loading.gif"); }

/*
 * ========== CHOICES ==========
 */
.pquizChoices {
  margin: .3em 0 .3em 0;
  padding-left: 0; }

.pquizChoices li {
  list-style: none inside;
  margin-bottom: .2em; }

.pquizChoices img {
  vertical-align: middle; }

.pquizChoice.answerOk input {
  box-shadow: 0 2px 0 #54eb5a; }

.pquizChoice.answerKo input {
  box-shadow: 0 2px 0 pquizKo-color; }

/* --- pquizSelectChoices --- */
.pquizSelectChoices.answerKo {
  border-bottom: 2px solid pquizKo-color; }

.pquizSelectChoices.answerOk {
  border-bottom: 2px solid #54eb5a; }

/* -- pquizChoiceCheckbox --- */
.pquizChoiceCheckbox input[type="checkbox"] {
  display: none; }

.pquizChoiceCheckbox::before {
  font-family: FontAwesome;
  content: "\f096";
  padding-right: 2px;
  cursor: pointer; }

.pquizChoiceCheckbox.selected::before {
  content: "\f046";
  padding-right: 0; }

/* ---- pquizChoiceRadio ---- */
.pquizChoiceRadio input[type="radio"] {
  display: none; }

.pquizChoiceRadio::before {
  font-family: FontAwesome;
  content: "\f10c";
  cursor: pointer; }

.pquizChoiceRadio.selected::before {
  content: "\f192"; }

.pquizChoiceRadio.answerOk::before,
.pquizChoiceCheckbox.answerOk::before {
  color: #54eb5a; }

.pquizChoiceRadio.answerKo::before,
.pquizChoiceCheckbox.answerKo::before {
  color: pquizKo-color; }

/* ----- pquizSelectItem ---- */
.pquizSelectItem.answerKo {
  border-bottom: 2px solid pquizKo-color; }

.pquizSelectItem.answerOk {
  border-bottom: 2px solid #54eb5a; }

/* ------- pquizChoice ------ */
span.pquizChoice {
  padding: .2em 0 .2em 0;
  background-color: #f0f8ff;
  border-radius: 5px;
  cursor: pointer; }

.categories span.pquizChoice {
  padding: .2em .2em .2em .2em;
  border: 1px solid #7f7f7f;
  background-color: transparent; }

/* ---------- table --------- */
[data-engine-options="radio"] td.answerOk {
  background-color: #54eb5a; }

[data-engine-options="radio"] td.answerKo {
  background-color: pquizKo-color; }

/*
 * ========== POINTING =========
 */
.pquizPoint {
  padding: .2em 0 .2em 0;
  background-color: #c7e0f8;
  border-radius: 3px;
  cursor: pointer; }

.pquizPoint.selected {
  color: #ffffff;
  background-color: #0086cb; }

.pquizPoint.answerOk {
  border-bottom: 2px solid #54eb5a; }

.pquizPoint.answerKo {
  border-bottom: 2px solid pquizKo-color; }

.pquizPointMedia {
  display: inline-block;
  padding: 2px; }

/*
 * ========= MATCHING ==========
 */
/* ------ pquizMatching ----- */
.pquizMatching td {
  border: none;
  vertical-align: top; }

.pquizMatching .pquizItemDropped {
  margin-bottom: 0; }

/* - pquizMatchingLinkItems - */
.pquizMatchingLinkItems {
  width: 30%;
  display: inline-block;
  vertical-align: top; }

.pquizMatchingLinkItem {
  display: block;
  padding: .2em 1em .2em 1em;
  margin-bottom: 1em;
  background-color: #f0f8ff;
  border-radius: 5px;
  border: 1px solid #7f7f7f; }

/*
 * ======== CATEGORIES =========
 */
/* ------ pquizCategory ----- */
.pquizCategory {
  padding: .2em 0.2em .2em 1em; }

/* - pquizCategoriesChoices - */
.pquizCategoriesChoices li.pquizChoice {
  margin: .8em;
  padding: .3em;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid pquizBorder-color;
  cursor: pointer; }

.pquizCategoriesChoices li.pquizChoice.answerOk {
  border-bottom: 2px solid #54eb5a; }

.pquizCategoriesChoices li.pquizChoice.answerKo {
  border-bottom: 2px solid pquizKo-color; }

.multiple .pquizCategoriesChoices li {
  display: list-item;
  padding: 0;
  border: none; }

.categories .pquizChoices {
  line-height: 2.3em; }

.categories .pquizChoices .pquizChoice {
  white-space: nowrap; }

.pquizCategoryChoice.answerOk {
  background-color: #54eb5a; }

.pquizCategoryChoice.answerKo {
  background-color: pquizKo-color; }

/* - pquizCategoriesBasket -- */
.pquizCategoriesBasket {
  float: left;
  margin: 1em 1em 1em 0;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid pquizText-color;
  box-shadow: 2px 2px 8px #bbbbbb; }

.pquizCategoriesBasket .legend {
  font-size: 85%;
  text-align: center;
  padding: .5em 1em .5em 1em;
  background-color: pquizText-color;
  color: white;
  border-radius: 5px 5px 0 0;
  white-space: nowrap; }

.pquizCategoriesBasket .pquizCategoryDrop {
  min-height: 5em;
  min-width: 8em;
  text-align: center;
  padding: .5em .5em .3em .5em;
  border-radius: 0 0 5px 5px;
  -ms-touch-action: none;
  touch-action: none; }

/* --- pquizCategoryItems --- */
.pquizCategoryItemDropped,
.pquizCategoryLegendItemDropped {
  float: none;
  display: block;
  margin: 0 0 .2em 0; }

.pquizCategoryLegendItemDropped {
  color: black; }

.pquizCategoryColor {
  padding: 0em 1em;
  margin-left: 0.5em;
  margin-right: 0.2em;
  border-radius: 5px;
  border: 1px solid #7f7f7f;
  white-space: nowrap;
  cursor: pointer; }

.pquizCategory.selected {
  color: #ffffff;
  background-color: #0086cb; }

.pquizCategoryLegendItem.answerOk,
.pquizCategoryDrop.answer .pquizCategoryItem.answerOk,
.pquizCategoriesItems.answer .pquizCategoryItem.answerOk {
  color: black;
  border-bottom: 2px solid #54eb5a; }

.pquizCategoryLegendItem.answerKo,
.pquizCategoryDrop.answer .pquizCategoryItem.answerKo,
.pquizCategoriesItems.answer .pquizCategoryItem.answerKo {
  color: black;
  border-bottom: 2px solid pquizKo-color; }

/*
 * ========= WORDSEARCH ========
 */
.pquizGrid {
  margin: .8em 0 .8em 0; }

.pquizGrid table {
  margin: 0; }

.publiquiz .pquizGridWordsearch {
  border: 1px solid #000000;
  cursor: default;
  display: inline-block;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1; }

.publiquiz .pquizGridWordsearch table {
  border: none; }

.publiquiz .pquizGridWordsearch td {
  width: 2em;
  height: 2em;
  text-align: center;
  border: none;
  padding: 0; }

.publiquiz .pquizGridWordsearch .pquizWordsearchOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.publiquiz .pquizGridWordsearch .pquizWordsearchOverlay .pquizWordsearchHighlight {
  transform-origin: 1em 1em;
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  transform: rotate(0deg); }

.pquizWordsearchHighlight::before {
  width: calc(100% - 0.5em);
  height: calc(100% - 0.5em);
  margin: 0.25em;
  position: absolute;
  background-color: rgba(190, 240, 255, 0.5);
  border-radius: 50px;
  content: ""; }

.pquizWordsearchHighlight.pquizWordsearchHighlightDrawing::before {
  background-color: #bef0ff; }

.pquizWordsearchHighlight.pquizWordsearchHighlightEraser::before {
  background-color: rgba(255, 255, 255, 0.5); }

.pquizWordsearchHighlight.answerOk::before {
  background-color: rgba(150, 255, 150, 0.5); }

.pquizWordsearchHighlight.answerKo::before {
  background-color: rgba(255, 150, 150, 0.5); }

.pquizWordsearchHighlighter,
.pquizWordsearchEraser {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  margin: 1px;
  position: relative;
  cursor: pointer;
  border-radius: 7px;
  display: inline-block; }

.pquizWordsearchTools .active {
  background-color: #cccccc;
  border: 2px solid black;
  margin: 0; }

.pquizWordList, .pquizGridWordsearch {
  display: inline-block;
  vertical-align: top; }

/* ------- pquizLetter ------ */
.pquizLetter {
  display: inline-block;
  text-align: center;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  min-width: 1.5em;
  min-height: 1.5em;
  padding: 0.2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid pquizBorder-color;
  cursor: pointer; }

.pquizLetter.answerOk {
  color: black;
  border-bottom: 2px solid #54eb5a; }

.pquizLetter.answerKo {
  color: black;
  border-bottom: 2px solid pquizKo-color; }

/* ------- letterAdd -------- */
.letterAdd, .modified {
  background-color: #e8f0f7; }

/*
 * ========= FLASHCARD ========
 */
/* ------ pquizFlashcard ---- */
.pquizFlashcard {
  position: relative;
  width: 30em;
  height: 38em;
  margin: 20px auto;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .pquizFlashcard .pquizFlashcardSide {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: transform .6s;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #7f7f7f;
    box-shadow: 2px 2px 8px #bbbbbb;
    background-color: #ffffff;
    overflow: hidden; }
    .pquizFlashcard .pquizFlashcardSide > div {
      padding: 10px; }
    .pquizFlashcard .pquizFlashcardSide img {
      max-height: 25em; }
    .pquizFlashcard .pquizFlashcardSide .pdocMedia {
      text-align: center; }
  .pquizFlashcard .pquizFlashcardSide.side1 {
    top: 0;
    z-index: 2; }
  .pquizFlashcard.flipped .pquizFlashcardSide.side1 {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .pquizFlashcard .pquizFlashcardSide.side2 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .pquizFlashcard.flipped .pquizFlashcardSide.side2 {
    z-index: 3;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

/* - pquizFlashcardTurnOver - */
.pquizFlashcardTurnOver {
  margin-bottom: 20px;
  text-align: center; }

/*
 * ========= COLORING ==========
 */
.pquizColoringPalette {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; }

.pquizColoringPalette > div {
  margin-bottom: 10px; }

.pquizColoringPalette .pquizColoringColor,
.pquizColoringPalette .pquizColoringTool {
  border: 4px solid #7f7f7f;
  border-radius: 30px;
  height: 40px;
  overflow: hidden;
  width: 40px; }

.pquizColoringPalette .selected {
  border: 4px solid #3030ff; }

.pquizColoringPalette .pquizColoringSample {
  height: 100%;
  width: 100%; }

.pquizColoringPalette .pquizColoringTool .pquizColoringSample {
  height: 30px;
  margin: 5px;
  width: 30px; }

.pquizColoringPalette .pquizColoringToolSize > div {
  margin-bottom: 5px; }

.pquizColoringToolSizeButtons {
  display: table; }

.pquizColoringToolSizeButtons > span {
  border: 1px solid #7f7f7f;
  cursor: pointer;
  display: table-cell;
  padding: 0 8px; }

.pquizColoringCanvas {
  display: inline-block;
  max-width: 90%; }

/*
 * ========== MEMORY ===========
 */
/* ~~~~~~~ pquizMemory ~~~~~~ */
.pquizMemory {
  box-sizing: border-box;
  position: relative;
  height: 100%; }

.pquizMemory .pdocMedia {
  padding: 0;
  margin: 0; }

/* ~~ pquizMemoryContainer ~~ */
.pquizMemoryContainer {
  box-sizing: border-box;
  position: relative;
  height: 100%; }

/* ~~~~ pquizMemoryBoard ~~~~ */
.pquizMemoryBoard {
  box-sizing: border-box;
  display: flex;
  position: relative;
  background-repeat: repeat;
  overflow: hidden;
  text-align: center;
  height: 100%; }

/*  pquizMemoryStateDisabled  */
.pquizMemoryStateDisabled {
  background: white;
  opacity: 0.4; }

/* ~~~~~ pquizMemoryPick ~~~~~ */
.pquizMemoryPick {
  margin: auto; }

/* ~~~~~ pquizMemoryItem ~~~~~ */
.pquizMemoryItem {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  margin: 10px; }
  .pquizMemoryItem .front,
  .pquizMemoryItem .back {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    border-radius: 10px;
    overflow: hidden; }
  .pquizMemoryItem .front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }

.pquizMemoryItem.flipped .front {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg); }
.pquizMemoryItem.flipped .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.pquizMemoryItem.item-visibility {
  visibility: hidden; }

/* ~ pquizMemoryCardNumber ~~ */
.pquizMemoryCardNumber {
  display: none;
  bottom: 0;
  right: 0;
  padding: 10px; }

/* ~~~~~~~~~~ rows ~~~~~~~~~~ */
.pquizMemory .rows {
  margin: auto; }
.pquizMemory .row {
  line-height: 0px; }

/* ~~~~~~~~~ answer ~~~~~~~~~ */
.pquizMemoryAnswerBox {
  cursor: pointer;
  line-height: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pquizMemoryAnswerBox .container {
  position: relative;
  text-align: center; }

.pquizMemoryAnswerBox .container .itemAnswer:first-child {
  display: inline-block;
  margin-right: 10px;
  margin-left: 150px; }

.pquizMemoryAnswerBox .container .itemAnswer:last-child {
  display: inline-block;
  margin-right: 150px;
  margin-left: 10px; }

/* ~~~~~~ congratulate ~~~~~~ */
.pquizMemoryCongratulateBox {
  cursor: pointer;
  line-height: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pquizMemoryCongratulateBox .container {
  position: relative;
  text-align: center;
  height: 100%; }

.pquizMemoryCongratulateBox .container .itemAnswer {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px; }

/*  pquizMemoryCorrectAnswer  */
.pquizMemoryCorrectAnswer {
  margin: auto; }

.pquizMemoryItemCorrect {
  display: inline-block;
  margin: 10px;
  white-space: nowrap; }

.pquizMemoryItemCorrect img {
  display: inline-block;
  max-width: 50%; }

/* ~~~~~~ pquizButtons ~~~~~~ */
.pquizMemory .pquizButtons {
  margin: 0; }

/* ~~~~~~~ pquizTimer ~~~~~~~ */
.pquizMemory .pquizTimer {
  display: inline-block;
  padding: 5px;
  background-color: white;
  font-size: 1.2em;
  font-family: monospace;
  border: 5px solid lightgrey;
  border-radius: 4px; }

/* ~~~ pquizEndCountdown ~~~~ */
.pquizMemory .pquizEndCountdown {
  border-color: red;
  -webkit-animation: animblink linear 10 alternate 500ms;
  -moz-animation: animblink linear 10 alternate 500ms;
  animation: animblink linear 10 alternate 500ms; }

@-webkit-keyframes animblink {
  0% {
    border-color: transparent; }
  100% {
    border-color: red; } }
@-moz-keyframes animblink {
  0% {
    border-color: transparent; }
  100% {
    border-color: red; } }
@keyframes animblink {
  0% {
    border-color: transparent; }
  100% {
    border-color: red; } }
/* ~~~~~~~ pquizScore ~~~~~~~ */
.pquizMemory .pquizScore:before {
  content: 'Score : '; }

.pquizMemory .pquizScore {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 54px;
  padding: 5px; }

/* ~~~~~ publiquizAction ~~~~ */
.pquizMemory .publiquizAction {
  height: 74px;
  max-height: 74px; }

/* ~~~~~~~ pdocNavBar ~~~~~~~ */
.pquizMemory .pdocNavBar:after {
  content: "";
  clear: both;
  display: block; }

/* ~~~~~~~~~~ Misc ~~~~~~~~~~ */
.pquizMemory .hidden {
  display: none; }

/* ~~~~~~~~~ answer ~~~~~~~~~ */
.pquizMemoryAnswerBox {
  background-color: rgba(64, 64, 64, 0.8); }

/* ~~~~~~ congratulate ~~~~~~ */
.pquizMemoryCongratulateBox {
  background-color: rgba(128, 128, 128, 0.8); }

/*
 * ======== PRODUCTION =========
 */
.pquizProduction {
  margin-top: 1em;
  width: 100%;
  height: 12em; }

/*
 * ========== BUTTONS ==========
 */
.pquizButtons {
  margin-top: 1em;
  background-color: #fafafa;
  padding: .5em;
  text-align: right;
  min-height: 1.3em; }

.pquizButton {
  cursor: pointer;
  padding: .1em .4em .1em .4em;
  border: 1px solid #999999;
  border-radius: 3px;
  color: #004080;
  background: linear-gradient(#fafafa, #bbbbbb);
  text-decoration: none;
  text-shadow: 0 1px 0 #eeeeee;
  font-size: 85%;
  font-weight: normal; }

a.pquizButton,
a.pquizButton:visited {
  padding: .24em .45em .24em .45em;
  color: #004080; }

a.pquizButton:hover {
  text-decoration: none;
  background: linear-gradient(#ffffff, #cccccc); }

a.pquizButton img {
  vertical-align: middle; }

a.pquizButton.disabled {
  background: #eeeeee;
  color: #bbbbbb;
  cursor: default; }

/*
 * ========= INLINES ===========
 */
/* -------- pquizDrop ------- */
span.pquizDrop {
  display: inline-block;
  line-height: 2em;
  -ms-touch-action: none;
  touch-action: none; }

.pquizDrop.answerOk .pquizItem {
  color: black;
  border-bottom: 2px solid #54eb5a; }

.pquizDrop.answerKo .pquizItem {
  color: black;
  border-bottom: 2px solid pquizKo-color; }

/* -------- pquizColor ------ */
.pquizColor1 {
  color: #00bdff; }

.pquizBgColor1 {
  background-color: #00bdff; }

.pquizColor2 {
  color: #fff693; }

.pquizBgColor2 {
  background-color: #fff693; }

.pquizColor3 {
  color: #c0ffc0; }

.pquizBgColor3 {
  background-color: #c0ffc0; }

.pquizColor4 {
  color: #e2aaff; }

.pquizBgColor4 {
  background-color: #e2aaff; }

.pquizColor5 {
  color: #ddddcc; }

.pquizBgColor5 {
  background-color: #ddddcc; }

/* ------- Miscellanous ----- */
.pquizItemColor {
  padding: 0em 1em;
  margin-left: 0.5em;
  margin-right: 0.2em;
  border-radius: 5px;
  border: 1px solid #7f7f7f;
  white-space: nowrap; }

.pquizItemColor.answerOk {
  border-bottom: 2px solid #54eb5a; }

.pquizItemColor.answerKo {
  border-bottom: 2px solid pquizKo-color; }

.pquizDots::before {
  content: "................."; }

.pquizSeparator::before {
  content: " / "; }

input.answerOk, textarea.answerOk {
  border-bottom: 2px solid #54eb5a; }

input.answerKo, textarea.answerKo {
  border-bottom: 2px solid pquizKo-color; }

.dragOver,
.pquizCategoryLegendDrop.dragOver {
  background-color: #98B5C1; }

/*# sourceMappingURL=publiquiz.css.map */
