html, body, #main_container {
  height: 100%;
}

.box {
  height: 100%;
  margin: 0;
}

#no_style_warning {
    display: none;
}

.box ul, .box ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.box li {
    float:left;
    padding: 0.5em 0.5em;
}

.box>footer>.info {
    position: fixed;
    top: 0;
    right: 0;
    color: #eeeeee;
    background-color: black;
    border-style: solid;
    border-right-style: none;
    border-color: #eeeeee;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 40px;
    padding-left: 1.5em;
    padding-right: 1em;
}

.box>footer>.info:focus {
    right: -25em;
}

#table_legend {
    display: none;
    float: left;
    width: 90%;
    font-size: 90%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
    margin-bottom: 2em;
}

#table_legend>h1~* {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
}

.box>footer>.info:focus+#table_legend {
    display: block;
}

#data_table {
    display: block;
    max-height: 100%;
    overflow-y: auto;
    clear: left;
}

#data_table thead {
    background-color: #eeeeee;
}

.box td, .box th {
    padding: 3px 10px;
    border: 1px solid #999999;
}

#data_table tr.detail {
    display: none;
}
#data_table>tbody:focus tr.detail {
    display: table-row;
    background-color: #ffffdd;
}
#data_table>tbody:focus>tr:first-of-type>td:first-of-type {
    border-left-color: blue;
    border-left-width: 3px;
}
#data_table>tbody:focus>tr.detail>td:first-of-type {
    border-width: 0;
    border-left-color: blue;
    border-left-width: 3px;
}

ul.legend::before {
    content: attr(header);
    display: block;
    float: left;
    margin-right: 2em;
    padding: 0.5em 0.5em;
    font-size: 85%;
}

ul.legend {
    clear: left;
}

ul.legend * {
    font-size: 85%;
}

ul.legend li {
    margin-right: 1em;
}

.eff {
    margin-right:1em;
}

.eff[level]:not([level=""]) {
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
}
.eff[level=MODIFIER] {
    border-color: green;
}
.eff[level=HIGH] {
    border-color: red;
}
.eff[level=MODERATE] {
    border-color: brown;
}
.eff[level=LOW] {
    border-color: blue;
}

.gt[gt=mut][level="1"] {
    color: black;
    background-color: #fff0d5;
}
.gt[gt=mut][level="2"] {
    color: black;
    background-color: #ffdd9f;
}
.gt[gt=mut][level="3"] {
    color: black;
    background-color: #ffca6a;
}
.gt[gt=mut][level="4"] {
    color: black;
    background-color: #ffb735;
}
.gt[gt=mut][level="5"] {
    color: white;
    background-color: #ffa500;
}

.gt[gt=het][level="1"] {
    color: black;
    background-color: #dbecf7;
}
.gt[gt=het][level="2"] {
    color: white;
    background-color: #add4ed;
}
.gt[gt=het][level="3"] {
    color: white;
    background-color: #80bde3;
}
.gt[gt=het][level="4"] {
    color: white;
    background-color: #52a5d9;
}
.gt[gt=het][level="5"] {
    color: white;
    background-color: #258ed0;
}

.gt[gt=ref][level="1"] {
    color: black;
    background-color: #e2e2e2;
}
.gt[gt=ref][level="2"] {
    color: white;
    background-color: #bdbdbd;
}
.gt[gt=ref][level="3"] {
    color: white;
    background-color: #999999;
}
.gt[gt=ref][level="4"] {
    color: white;
    background-color: #747474;
}
.gt[gt=ref][level="5"] {
    color: white;
    background-color: #505050;
}

