/* **************************** Publidoc2Html5 ***************************** */

body { margin: 10px; }

h1 { font-family: sans-serif; font-variant: small-caps;  }
h2 { font-family: sans-serif; }
h3 { font-family: sans-serif; }
h4 { font-family: sans-serif; }

img { max-width: 100%; max-height: 100%; }


/* ======== TOP LEVEL ======= */


/* ~~~~~~~~~ pdocToc ~~~~~~~~ */

.pdocToc a { color: black; }
.pdocToc li li a { color: #4f4f4f; }

/* ~~~~~~~~ pdocIndex ~~~~~~~ */

.pdocIndex a,
.pdocIndex a:visited {
    color: #004080;
}

.pdocIndex a:hover {
    color: #339933;
}

/* ~~~~~~~ pdocNavBar ~~~~~~~ */

.pdocNavBar .col { text-align: center; }
.pdocNavBar .colLast { text-align: right; }
.pdocNavBar hr { clear: both; }
.pdocNavBar a { border: none; }
.pdocNavBar a:hover { background-color: transparent; }
.pdocToc .pdocNavBar, .pdocToc .pdocNavBar div { padding-top: 0; }
.pdocToc .pdocNavBar a { padding: 0; }

.colFirst { margin: 0; padding-right: 1%; float: left; }
.col { margin: 0; padding: 0 1% 0 1%; float: left; }
.colLast { margin: 0; padding-left: 1%; }
.col111 .colFirst, .col111 .col { width: 32%; }


/* ======= HEAD LEVEL ======= */


/* ~~~~~~ pdocKeywords ~~~~~~ */

.pdocKeywords, .pdocSubjects {
    color: #7f7f7f;
}

/* ~~~~~~ pdocAbstract ~~~~~~ */

.pdocAbstract {
    color: #7f7f7f;
    font-family: sans-serif;
}

/* ~~~~~ pdocAnnotation ~~~~~ */

.pdocAnnotation:before {
    display: block;
    float:left;
    width: 16px;
    height: 16px;
    margin: 0 5px 5px 0;
    background: url("../Images/annotation.png") no-repeat 0 0;
    content: " ";
}

.pdocAnnotation {
    color: #4f4f4f;
    background-color: #ffff00;
    font-family: sans-serif;
}


/* ===== DIVISION LEVEL ===== */


/*~~~~~~~ pdocDivision ~~~~~~ */

div.pdocDivision {
    border-left: 8px solid #dcdcdc;
}

/*~~~~~~~~~ pdocFront ~~~~~~~ */

.pdocFront .pdocP {
    font-family: sans-serif;
}

.pdocLead1, .pdocLead2, .pdocLead3 {
    font-family: sans-serif;
}


/* ===== SECTION LEVEL ====== */


/* ~~~~~~~ pdocSection ~~~~~~ */

.pdocSection1, .pdocSection2,
.pdocSection3, .pdocSection4,
.pdocSection5 {
    font-family: serif;
}

.pdocSectionTitle,
.pdocSectionSubtitle {
    font-family: sans-serif;
}

.pdocSectionSubtitle {
    color: #7f7f7f;
}

.pquizInstructions .pdocSection1,
.pquizInstructions .pdocSection2,
.pquizInstructions .pdocSection3,
.pquizInstructions .pdocSection4,
.pquizInstructions .pdocSection5  {
    font-family: sans-serif;
}

/* ~~~~~ pdocSection-box ~~~~ */

.pdocSection-box {
    margin: 1em 0 1em 0;
    padding: .5em 1em .5em 1em;
    border: 1px solid #000000;
    background-color: #efefef;
}
.pdocSection-box .pdocSectionTitle,
.pdocSection-box .pdocSectionSubtitle {
    text-align: center;
}

/* ~~~ pdocSection-insert ~~~ */

.pdocSection-insert {
    float: right;
    margin-left: .6em;
    margin-bottom: .6em;
    padding: .4em;
    font-family: sans-serif;
    font-size: 93%;
    width: 30%;
    border: 1px solid #7f7f7f;
}

/* ~~~~~ pdocSection-xxx ~~~~ */

.pdocSection-sign {
    text-align: right;
    font-weight: bold;
}

.pdocSection-logo {
    text-align: center;
}

.pdocSection-ex {
    font-style: italic;
}


/* ======= BLOCK LEVEL ====== */


/* ~~~~~~~ pdocSpeech ~~~~~~~ */

.pdocSpeechSpeaker,
.pdocSpeechStage {
    font-family: sans-serif;
}

/* ~~~~~~~~ pdocList ~~~~~~~~ */

.pdocListTitle {
    font-family: sans-serif;
}

/* ~~~~~~~~ pdocTable ~~~~~~~ */

.pdocTableTitle {
    font-family: sans-serif;
}

.pdocTableCaption {
    color: #4f4f4f;
}

.pdocCell-step {
    background-color: #fafafa;
}

/* ~~~~~~~ pdocMedia ~~~~~~~~ */

.pdocMedia {
    position: relative;
    font-family: sans-serif;
}

.pdocMediaCopyright {
    color: gray;
}

.pdocMediaCaption {
    color: #4f4f4f;
}

/* ~~~~~~~ pdocImage ~~~~~~~~ */

.pdocImage {
    max-width: 100%;
    max-height: 100%;
}

.pdocThumbnail,
.pdocThumbnail img,
.pdocImage-thumbnail,
.pdocImage-thumbnail img {
    max-width: 150px;
    max-height: 150px;
}

.pdocImageHotspot,
.pdocImageDropzone {
    float: left;
    position: relative;
}

/* ~~~~~~ pdocHotspot ~~~~~~~ */

.pdocHotspot, .pdocHotspotSpot,
.pdocDropzone {
    color: white;
    font-family: sans-serif;
}

/* ~~~~~ pdocAudioPlayer ~~~~ */

.pdocAudioPlayer {
    position: relative;
    display: inline-block;
    height: 32px;
}

.pdocAudioPlayer [data-player="button-play"] {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: inherit;
    margin-right: 10px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.pdocAudioPlayer div[data-player="button-play"] {
    float: left;
}
.pdocAudioPlayer span[data-player="button-play"] {
    margin: 0;
}
.pdocAudioPlayer span[data-player="button-play"].play,
.pdocAudioPlayer div[data-player="button-play"].play {
    background-image: url(../Images/audio_play.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.pdocAudioPlayer span[data-player="button-play"].pause,
.pdocAudioPlayer div[data-player="button-play"].pause {
    background-image: url(../Images/audio_pause.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.pdocAudioPlayer [data-player="player-info"] {
    display: inline-block;
}

.pdocAudioPlayer [data-player="duration"] {
    white-space: nowrap;
    text-align: right;
    margin-right: 5px;
}

.pdocAudioPlayer [data-player="timeline"] {
    width: 266px;
    border-radius: 5px;
    background: linear-gradient(rgb(205,202,205), rgb(243,243,243));
    cursor: pointer;
}

.pdocAudioPlayer [data-player="cursor"] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1f305f;
    cursor: pointer;
}


/* ====== INLINE LEVEL ====== */


/* ~~~~~~~~~ pdocNote ~~~~~~~ */

a.pdocNoteLink, a.pdocNoteCall,
a.pdocNoteLink:visited, a.pdocNoteCall:visited,
.pdocNoteFooter a, .pdocNoteBack a {
    color: #993333;
}

.pdocNote h1 {
    color: white;
    background-color: #999999;
    font-family: sans-serif;
}

.pdocNoteBack {
    font-family: sans-serif;
}

/* ~~~~~~~ pdocInitial ~~~~~~ */

.pdocInitialCap {
    float: left;
    margin: -.15em .1em -.15em 0;
}

/* ~~~~~~~~~ pdocLink ~~~~~~~ */

.pdocLink {
    font-family: sans-serif;
    color: #004080;
}
.pdocLink:visited {
    color: #004080;
}

/* ~~~~~~~ pdocLiteral ~~~~~~ */

.pdocLiteral {
    font-family: monospace;
}
