/* ======== TOP LEVEL ======= */


/* ~~~~~~ pdocVariable ~~~~~~ */

.pdocVariable {
    display: block;
}


/* ======= HEAD LEVEL ======= */


/* ~~~~~~~~ pdocMeta ~~~~~~~~ */

.pdocMeta tr.pquizAttribute {
    background-color: #fafafa;
}


/* ===== COMPONENT LEVEL ==== */


/* ~~~~~~~~ pquizQuiz ~~~~~~~ */

.pquizQuiz {
    margin: 0 3px 0 3px;
}


/* ====== SECTION LEVEL ===== */


/* ~~ pquizMemoryAnswerBox ~~ */

.pquizMemoryAnswerBox img {
    max-height: 100%;
}

/* ~ pquizMemoryItemCorrect ~ */

#content .pquizMemoryItemCorrect img {
    max-width: 50%;
}


/* ====== BLOCK LEVEL ======= */


/* ~~~~~~~ pdocImage ~~~~~~~~ */

#content .pquizChoice img,
#content .pquizItem img {
    max-height: 80px;
}
