

/* ======= HEAD LEVEL ======= */


.e4xButton-keyword  { background: url("../Images/editor4xml.png") no-repeat -400px 0; }
.e4xButton-subject  { background: url("../Images/editor4xml.png") no-repeat -420px 0; }
.e4xButton-contributor  { background: url("../Images/editor4xml.png") no-repeat -380px 0; }
.e4xButton-img { background: url("../Images/editor4xml.png") no-repeat -340px -20px; }

.e4xDelete {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background: no-repeat -32px 0 url("../Images/editor4publiset.png");
    vertical-align: middle;
    cursor: pointer;
}


/* ===== DIVISION LEVEL ===== */


.e4xButton-division { background: url("../Images/editor4xml.png") no-repeat -60px -60px; }

.e4xAttributes {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background: no-repeat -48px 0 url("../Images/editor4publiset.png");
    vertical-align: middle;
    cursor: pointer;
}

.e4xSelectionGet {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background: no-repeat -64px 0 url("../Images/editor4publiset.png");
    vertical-align: middle;
    cursor: pointer;
}


/* ======= FILE LEVEL ======= */


.e4xHandle {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background: no-repeat 0 0 url("../Images/editor4publiset.png");
    vertical-align: middle;
    cursor: move;
}

.e4xRemove {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background: no-repeat -16px 0 url("../Images/editor4publiset.png");
    vertical-align: middle;
    cursor: pointer;
}

.e4xSelect {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background: no-repeat -80px 0 url("../Images/editor4publiset.png");
    vertical-align: middle;
    cursor: pointer;
}

.e4xDragging {
    border: 1px dashed #bbbbbb;
    border-radius: 5px;
    background-color: #f0f8ff;
}


/* ======= BLOCK LEVEL ====== */


.e4xButton-p { background: url("../Images/editor4xml.png") no-repeat 0 -40px; }


/* ======= INLINE LEVEL ===== */


.e4xButton-sub { background: url("../Images/editor4xml.png") no-repeat 0 -20px; }
.e4xButton-sup { background: url("../Images/editor4xml.png") no-repeat -20px -20px; }
.e4xButton-highlight { background: url("../Images/editor4xml.png") no-repeat -100px -20px; }
.e4xButton-emphasis { background: url("../Images/editor4xml.png") no-repeat -120px -20px; }
.e4xButton-name { background: url("../Images/editor4xml.png") no-repeat -160px -20px; }
.e4xButton-date { background: url("../Images/editor4xml.png") no-repeat -200px -20px; }
.e4xButton-link { background: url("../Images/editor4xml.png") no-repeat -300px -20px; }
