

/* ====== HEADER LEVEL ====== */

.e4xElt-head strong.e4xIgnore {
    color: #dcdcdc;
    font-size: 88%;
    text-shadow: none;
}

.e4xElt-head em.e4xIgnore {
    display: block;
    color: #7f7f7f;
    font-size: 69%;
    font-style: normal;
    text-shadow: none;
}

.e4xElt-head table {
    color: #7f7f7f;
    background-color: #f0f8ff;
    border-radius: 8px;
    font-size: 93%;
}
.e4xElt-head tr,
.e4xElt-head th, .e4xElt-head td {
    border: none;
    vertical-align: top;
    text-align: left;
    padding: .1em .5em .1em .5em;
}
.e4xElt-head th {
    font-weight: normal;
    color: #4f4f4f;
    white-space: nowrap;
}

.e4xElt-head .e4xAttribute {
    cursor: pointer;
}

.e4xElt-head select {
    font-size: 75%;
    margin: .2em 0 .4em 0;
}

.e4xElt-title {
    margin: .8em 0 .2em 0;
}
.e4xElt-title strong {
    font-weight: normal;
}
.e4xElt-division .e4xElt-division h2 {
    color: #c05800;
    border-bottom: none;
}

.e4xElt-subtitle {
    font-style: italic;
}
.e4xElt-subtitle em {
    font-style: normal;
}

.e4xElt-contributor {
    margin-bottom: .8em;
    border-left: 2px solid #dcdcdc;
    padding-left: .4em;
    font-family: sans-serif;
}

.e4xElt-contributor * {
    border-left: 1px solid #dcdcdc;
    padding-left: .2em;
    margin: 0 0 .2em 0;
}
.e4xElt-contributor .e4xElt-lastname {
    font-weight: bold;
}

.e4xElt-contributor .e4xElt-link {
    display: none;
}

.e4xCast-source_book .e4xElt-title {
    margin: 0;
    border-bottom: none;
    text-shadow: none;
    color: black;
    font-size: 100%;
}

.e4xElt-keyword,
.e4xElt-subject {
    border-left: 1px solid #dcdcdc;
    padding-left: .2em;
    margin: 0 0 .2em 0;
}


/* ===== DIVISION LEVEL ===== */


.e4xElt-division {
    padding-left: .8em;
    border-left: 8px solid #dcdcdc;
    margin-bottom: 1em;
}

.e4xElt-division .e4xElt-division .e4xElt-title {
    font-size: 125%;
}


/* ======== FILE LEVEL ====== */


.e4xFile {
    padding: .1em .1em .2em .1em;
    font-size: 108%;
    font-weight: bold;
    border: 1px solid transparent;
}

.e4xFile .e4xElt-file {
    color: #004080;
}

.e4xFile strong {
    color: #dcdcdc;
}

.e4xFile em {
    font-style: normal;
    font-size: 79%;
    color: #7f7f7f;
}

.e4xCast-selection .e4xElt-link {
    display: block;
}


/* ======= BLOCK LEVEL ====== */


/* ~~~~~~~~~~~ p ~~~~~~~~~~~~ */

.e4xElt-p {
    border-left: 1px solid #dcdcdc;
    padding-left: .2em;
    margin: 0 0 .2em 0;
    text-align: justify;
    font-variant: normal;
}


/* ======= INLINE LEVEL ===== */


.e4xElt-highlight { font-style: inherit; }
.e4xElt-emphasis { font-weight: inherit; }
.e4xElt-name[data-of="person"] { font-style: normal; font-variant: small-caps; }
.e4xElt-name[data-of="book"] { font-style: normal; text-decoration: underline; }
.e4xElt-link { color: #004080; }
