

body { margin: 0; }

img, video { max-width: 100%; max-height: 320px; }


/* ======= HEAD LEVEL ======= */


/* ~~~~~~~~ pdocMeta ~~~~~~~~ */

.pdocMeta {
    width: 100%;
    background-color: #f0f8ff;
    margin: .5em 0 1.5em 0;
    border: 1px solid #999999;
    box-shadow: 2px 2px 3px #bbbbbb;
}

.pdocMeta tr,
.pdocMeta th, .pdocMeta td {
    line-height: 1em;
    border: 1px dotted #999999;
    text-align: left;
    vertical-align: top;
}

.pdocMeta td input[type="text"]  {
    width: 100%;
}

.pdocMetaToolTip {
    width: 20px;
}

.pdocDivision .pdocMeta {
    width: auto;
    color: #7f7f7f;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    font-size: 93%;
}

.pdocDivision .pdocMeta tr,
.pdocDivision .pdocMeta th,
.pdocDivision .pdocMeta td {
    padding: .1em .5em .1em .5em;
    border: none;
}
.pdocDivision .pdocMeta th {
    font-weight: normal;
    color: #4f4f4f;
}

.preview .pdocMeta { display: None; }

/* ~~~~~~~ pdocTitle ~~~~~~~~ */

.pdocTitle strong {
    font-weight: normal;
}

.pdocTitle em.pdocAttributes {
    display: block;
    font-style: normal;
    font-size: 69%;
    text-shadow: none;
    color: #7f7f7f;
    margin-bottom: .1em;
}

.pdocDivision .pdocDivision .pdocTitle em.pdocAttributes {
    font-size: 79%;
}

.pdocDivision .pdocTitle {
    font-size: 153.9%;
}

/* ~~~~~~ pdocSubtitle ~~~~~~ */

.pdocSubtitle {
    font-style: italic;
}
.pdocSubtitle em {
    font-style: normal;
}

/* ~~~~~~~~ pdocCover ~~~~~~~ */

.pdocCover {
    margin: 2em 0 2em 0;
    text-align: center;
}


/* ==== COMPONENT LEVEL ===== */


/* ~~~~~ pdocComposition ~~~~ */
/* ~~~~~~ pdocSelection ~~~~~ */

.pdocComposition, .pdocSelection {
    margin: 0 3px 0 3px;
}

.pdocComposition .h1, .pdocSelection .h1 {
    padding: 1em;
    margin-bottom: .5em;
    text-align: center;
    border: 1px solid black;
    background-color: #fafafa;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 138.5%;
}

.pdocComposition h2, .pdocSelection h2 {
    margin: .2em 0 .2em 0;
    border-bottom: 1px solid black;
}

.pdocComposition ul, .pdocSelection ul {
    margin: 0;
    padding: 0;
}

.pdocComposition li, .pdocSelection li {
    list-style-type: none;
}


/* ===== DIVISION LEVEL ===== */


/* ~~~~~~ pdocDivision ~~~~~~ */

.pdocDivision {
    margin-top: 1em;
    padding-left: .4em;
    border-left: 8px solid #dcdcdc;
}

.pdocDivision .pdocTitle {
    margin-bottom: 0;
}


/* ======= FILE LEVEL ======= */


/* ~~~~~~~~ pdocFile ~~~~~~~~ */

.pdocFile, .pdocFileLink {
    margin-bottom: .2em;
    font-size: 108%;
}

.pdocFile a {
    color: #004080;
    font-weight: bold;
}

.pdocFile strong {
    color: #dcdcdc;
}

.pdocFile em.pdocAttributes {
    font-style: normal;
    font-size: 79%;
    color: #7f7f7f;
}


/* ======= BLOCK LEVEL ====== */


/* ~~~~~~~~~~ pdocP ~~~~~~~~~ */

.pdocP {
    margin: 0 0 .2em 0;
}

/* ~~~~~~~ pdocImage ~~~~~~~~ */

.pdocIcon {
    max-height: 32px;
}

.pdocCover img {
    max-height: 320px;
    box-shadow: 4px 4px 4px #bbbbbb;
}


/* ====== INLINE LEVEL ====== */


/* ~~~~~~~~ pdocName ~~~~~~~~ */

.pdocName {
    font-weight: inherit;
}

.pdocName-person {
    font-style: normal;
    font-variant: small-caps;
    font-weight: inherit;
}

/* ~~~~~~~~ pdocLink ~~~~~~~~ */

.pdocLink {
    color: #004080;
}

.pdocLink:visited {
    color: #004080;
}

/* ~~~~~~ Miscellaneous ~~~~~ */

sup, sub {
    font-variant: normal;
}

.pdocHighlight {
    font-style: inherit;
}

.pdocEmphasis {
    font-weight: inherit;
}

/* ~~~~~~~~ PI ~~~~~~~~ */

.tune-latex-newline {
    display: inline;
    color: #ae681f;
}
.tune-latex-newline::before {
    content: "\21B5";
}
