/*
 * ========= WORDSEARCH ========
 */

.pquizGrid {
    margin: .8em 0 .8em 0;
}
.pquizGrid table {
    margin: 0;
}

.publiquiz .pquizGridWordsearch {
    // Customizable
    // Border should be on the .pquizGrid and not on the table to have the
    // same dimensions for the table and the overlay.
    border: 1px solid #000000;
    cursor: default;

    // Required
    display: inline-block;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
}

.publiquiz .pquizGridWordsearch table {
    // Customizable
    border: none;
}

.publiquiz .pquizGridWordsearch td {
    // Customizable
    // Must be a square
    width: 2em;
    height: 2em;
    text-align: center;
    border: none;

    // Required
    padding: 0;
}

.publiquiz .pquizGridWordsearch .pquizWordsearchOverlay {
    // Required
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.publiquiz .pquizGridWordsearch .pquizWordsearchOverlay .pquizWordsearchHighlight {
    // Customizable
    transform-origin: 1em 1em; // half-width and half-height of the table cell
    height: 2em; // table cell height

    // Required
    position: absolute;

    // Changed by JS
    top: 0;
    left: 0;
    width: 2em;
    transform: rotate(0deg);
}

.pquizWordsearchHighlight::before {
    // Customizable
    width: calc(100% - 0.5em);
    height: calc(100% - 0.5em);
    margin: 0.25em;
    position: absolute;
    background-color: rgba(190,240,255,0.5);
    border-radius: 50px;

    // Required
    content: "";
}

.pquizWordsearchHighlight.pquizWordsearchHighlightDrawing::before {
    // Customizable
    background-color: rgba(190,240,255,1);
}

.pquizWordsearchHighlight.pquizWordsearchHighlightEraser::before {
    // Customizable
    background-color: rgba(255,255,255,0.5);
}

.pquizWordsearchHighlight.answerOk::before {
    // Customizable
    background-color: rgba(150,255,150,0.5);
}

.pquizWordsearchHighlight.answerKo::before {
    // Customizable
    background-color: rgba(255,150,150,0.5);
}

.pquizWordsearchHighlighter,
.pquizWordsearchEraser {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    margin: 1px;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
    display: inline-block;
}

.pquizWordsearchTools .active {
    background-color: #cccccc;
    border: 2px solid black;
    margin: 0;
}

.pquizWordList, .pquizGridWordsearch {
    display: inline-block;
    vertical-align: top;
}

/* ------- pquizLetter ------ */

.pquizLetter {
    display: inline-block;
    text-align: center;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    min-width: 1.5em;
    min-height: 1.5em;
    padding: 0.2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid pquizBorder-color;
    cursor: pointer;
}

.pquizLetter.answerOk {
    color: black;
    border-bottom: 2px solid $pquizOk-color;
}

.pquizLetter.answerKo {
    color: black;
    border-bottom: 2px solid pquizKo-color;
}

/* ------- letterAdd -------- */

.letterAdd, .modified {
    background-color : #e8f0f7;
}
