/*
 * ====== SECTION LEVEL ========
 */

/* ------ pquizElement ------ */

.pquizElements {
    margin: .8em 1em 0 1.5em;
}

.pquizElement {
    margin-bottom: 1em;
}

/* --- pquizInstructions ---- */

.pquizInstructions {
    font-weight: bold;
    color: pquizText-color;
    font-family: serif;
}

.pquizInstructions .pdocSection-ex {
    font-weight: normal;
}

/* ------- pquizEngine ------ */

.pquizEngine {
    margin-top: .8em;
    font-family: serif;
}

/* --- pquizStateDisabled --- */

.pquizStateDisabled {
    opacity: 0.4;
}

/* -------- pquizText ------- */

.pquizText {
    line-height: 2em;
}

.pquizText td {
    padding: .3em .5% .3em .5%;
}

/* -------- pquizHelp ------- */

.pquizHelpButton {
    margin-top: 1em;
}

.pquizHelpText {
    display: none;
    margin-top: 1em;
    padding: .5em;
    border: 1px solid pquizHelp-color;
    font-family: serif;
}

.pquizHelpText h1 {
    margin: 0 0 .5em 0;
}

.pquizHelpText legend {
    color: pquizHelp-color;
    font-weight: bold;
    font-family: sans-serif;
}

/* -------- pquizPopUp ------- */

.pquizHelpPopUp .helpContainer {
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid pquizBorder-color;
    box-shadow: 2px 2px 8px $pquizShadow-color;
    padding: 8px;
}

.pquizHelpPopUp .helpLegend {
    font-weight: bold;
    margin: 0 20px 1em 0;
}

.pquizHelpPopUp .helpClose {
    float: right;
    text-align: right;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: url(../Images/close.png) no-repeat;
}
.pquizHelpPopUp .helpClose:hover {
    background-position: 0 -16px;
}

/* ------- pquizAnswer ------ */

.pquizAnswerText {
    display: none;
    margin-top: 1em;
    padding: .5em;
    border: 1px solid $pquizAnswer-color;
    font-family: serif;
}

.pquizAnswerText legend {
    color: $pquizAnswer-color;
    font-weight: bold;
    font-family: sans-serif;
}

/* -------- pdocMedia ------- */

.pquizMatching .pdocMedia {
    margin-top: 0;
}
