/*
 * ========= TOP LEVEL =========
 */

/* --------- publiquiz ------ */

.pquizQuiz, .publiquiz {
    position: relative;
}

.publiquiz table {
    clear: left;
    line-height: 2em;
}

.publiquiz input:disabled,
.publiquiz textarea:disabled,
.publiquiz select:disabled {
    opacity: 1;
    color: black;
}

/* ---- pquizQuizOneFile ---- */

.pquizQuiz.pquizQuizOneFile {
    border-bottom: 3px solid #dcdcdc;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
