/*
 * ========== BUTTONS ==========
 */

.pquizButtons {
    margin-top: 1em;
    background-color: #fafafa;
    padding: .5em;
    text-align: right;
    min-height: 1.3em;
}

.pquizButton {
    cursor: pointer;
    padding: .1em .4em .1em .4em;
    border: 1px solid #999999;
    border-radius: 3px;
    color: $pquizText-color;
    background: linear-gradient(#fafafa, #bbbbbb);
    text-decoration: none;
    text-shadow: 0 1px 0 #eeeeee;
    font-size: 85%;
    font-weight: normal;
}
a.pquizButton,
a.pquizButton:visited {
    padding: .24em .45em .24em .45em;
    color: $pquizText-color;
}
a.pquizButton:hover {
    text-decoration: none;
    background: linear-gradient(#ffffff, #cccccc);
}

a.pquizButton img { vertical-align: middle; }
a.pquizButton.disabled {
    background: #eeeeee;
    color: #bbbbbb;
    cursor: default;
}
