/*
 * ========= FLASHCARD ========
 */

/* ------ pquizFlashcard ---- */

.pquizFlashcard {
    position: relative;
    width: 30em;
    height: 38em;
    margin: 20px auto;
    -webkit-perspective: 1000px;
     perspective: 1000px;

    .pquizFlashcardSide {
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        -webkit-transition: transform .6s;
        -webkit-transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: transform .6s;
        transform-style: preserve-3d;

        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid $pquizBorder-color;
        box-shadow: 2px 2px 8px $pquizShadow-color;
        background-color: #ffffff;
        overflow: hidden;

        & > div { padding: 10px; }
        img { max-height: 25em; }
        .pdocMedia { text-align: center; }
    }

    .pquizFlashcardSide.side1 {
        top: 0;
        z-index: 2;
    }
    &.flipped .pquizFlashcardSide.side1 {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .pquizFlashcardSide.side2 {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    &.flipped .pquizFlashcardSide.side2 {
        z-index: 3;
       -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

/* - pquizFlashcardTurnOver - */

.pquizFlashcardTurnOver {
    margin-bottom: 20px;
    text-align: center;
}
