/*
 * ========= MATCHING ==========
 */

/* ------ pquizMatching ----- */

.pquizMatching td {
    border: none;
    vertical-align: top;
}

.pquizMatching .pquizItemDropped {
    margin-bottom: 0;
}

/* - pquizMatchingLinkItems - */

.pquizMatchingLinkItems {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.pquizMatchingLinkItem {
    display: block;
    padding: .2em 1em .2em 1em;
    margin-bottom: 1em;
    background-color: #f0f8ff;
    border-radius: 5px;
    border: 1px solid $pquizBorder-color;
}
