/*
 * ========== CHOICES ==========
 */

.pquizChoices {
    margin: .3em 0 .3em 0;
    padding-left: 0;
}
.pquizChoices li {
    list-style: none inside;
    margin-bottom: .2em;
}
.pquizChoices img {
    vertical-align: middle;
}

.pquizChoice.answerOk input {
    box-shadow: 0 2px 0 $pquizOk-color;
}

.pquizChoice.answerKo input {
    box-shadow: 0 2px 0 pquizKo-color;
}

/* --- pquizSelectChoices --- */

.pquizSelectChoices.answerKo {
    border-bottom: 2px solid pquizKo-color;
}
.pquizSelectChoices.answerOk {
    border-bottom: 2px solid $pquizOk-color;
}

/* -- pquizChoiceCheckbox --- */

.pquizChoiceCheckbox input[type="checkbox"] {
    display: none;
}

.pquizChoiceCheckbox::before {
    font-family: FontAwesome;
    content: "\f096";
    padding-right: 2px;
    cursor: pointer;
}

.pquizChoiceCheckbox.selected::before {
    content: "\f046";
    padding-right: 0;
}

/* ---- pquizChoiceRadio ---- */

.pquizChoiceRadio input[type="radio"] {
    display: none;
}

.pquizChoiceRadio::before {
    font-family: FontAwesome;
    content: "\f10c";
    cursor: pointer;
}

.pquizChoiceRadio.selected::before {
    content: "\f192";
}

.pquizChoiceRadio.answerOk::before,
.pquizChoiceCheckbox.answerOk::before {
    color: $pquizOk-color;
}

.pquizChoiceRadio.answerKo::before,
.pquizChoiceCheckbox.answerKo::before {
    color: pquizKo-color;
}

/* ----- pquizSelectItem ---- */

.pquizSelectItem.answerKo {
    border-bottom: 2px solid pquizKo-color;
}
.pquizSelectItem.answerOk {
    border-bottom: 2px solid $pquizOk-color;
}

/* ------- pquizChoice ------ */

span.pquizChoice {
    padding: .2em 0 .2em 0;
    background-color: #f0f8ff;
    border-radius: 5px;
    cursor: pointer;
}

.categories span.pquizChoice {
    padding: .2em .2em .2em .2em;
    border: 1px solid $pquizBorder-color;
    background-color: transparent;
}

/* ---------- table --------- */

[data-engine-options="radio"] td.answerOk {
    background-color: $pquizOk-color;
}

[data-engine-options="radio"] td.answerKo {
    background-color: pquizKo-color;
}
