/*
 * ========= INLINES ===========
 */

/* -------- pquizDrop ------- */

span.pquizDrop {
    display: inline-block;
    line-height: 2em;
    -ms-touch-action: none;
    touch-action: none;
}

.pquizDrop.answerOk .pquizItem {
    color: black;
    border-bottom: 2px solid $pquizOk-color;
}
.pquizDrop.answerKo .pquizItem {
    color: black;
    border-bottom: 2px solid pquizKo-color;
}

/* -------- pquizColor ------ */

.pquizColor1 { color: #00bdff; }
.pquizBgColor1 { background-color: #00bdff; }
.pquizColor2 { color: #fff693; }
.pquizBgColor2 { background-color: #fff693; }
.pquizColor3 { color: #c0ffc0; }
.pquizBgColor3 { background-color: #c0ffc0; }
.pquizColor4 { color: #e2aaff; }
.pquizBgColor4 { background-color: #e2aaff; }
.pquizColor5 { color: #ddddcc; }
.pquizBgColor5 { background-color: #ddddcc; }

/* ------- Miscellanous ----- */

.pquizItemColor {
    padding: 0em 1em;
    margin-left: 0.5em;
    margin-right: 0.2em;
    border-radius: 5px;
    border: 1px solid $pquizBorder-color;
    white-space: nowrap;
}
.pquizItemColor.answerOk {
    border-bottom: 2px solid $pquizOk-color;
}
.pquizItemColor.answerKo {
    border-bottom: 2px solid pquizKo-color;
}

.pquizDots::before { content: "................."; }

.pquizSeparator::before { content: " / "; }

input.answerOk, textarea.answerOk {
    border-bottom: 2px solid $pquizOk-color;
}

input.answerKo, textarea.answerKo {
    border-bottom: 2px solid pquizKo-color;
}

.dragOver,
.pquizCategoryLegendDrop.dragOver {
    background-color: #98B5C1;
}
