/*
 * ========== POINTING =========
 */

.pquizPoint {
    padding: .2em 0 .2em 0;
    background-color: #c7e0f8;
    border-radius: 3px;
    cursor: pointer;
}

.pquizPoint.selected {
    color: $pquizSelected-color;
    background-color: $pquizSelected-background-color;
}

.pquizPoint.answerOk {
    border-bottom: 2px solid $pquizOk-color;
}

.pquizPoint.answerKo {
    border-bottom: 2px solid pquizKo-color;
}

.pquizPointMedia {
    display: inline-block;
    padding: 2px;
}
