/*
 * ======== CATEGORIES =========
 */

/* ------ pquizCategory ----- */

.pquizCategory {
    padding: .2em 0.2em .2em 1em;
}

/* - pquizCategoriesChoices - */

.pquizCategoriesChoices li.pquizChoice {
    margin: .8em;
    padding: .3em;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid pquizBorder-color;
    cursor: pointer;
}
.pquizCategoriesChoices li.pquizChoice.answerOk {
    border-bottom: 2px solid $pquizOk-color;
}
.pquizCategoriesChoices li.pquizChoice.answerKo {
    border-bottom: 2px solid pquizKo-color;
}

.multiple .pquizCategoriesChoices li {
    display: list-item;
    padding: 0;
    border: none;
}

.categories .pquizChoices {
    line-height: 2.3em;
}

.categories .pquizChoices .pquizChoice {
    white-space: nowrap;
}

.pquizCategoryChoice.answerOk {
    background-color: $pquizOk-color;
}

.pquizCategoryChoice.answerKo {
    background-color: pquizKo-color;
}

/* - pquizCategoriesBasket -- */

.pquizCategoriesBasket {
    float:left;
    margin: 1em 1em 1em 0;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid pquizText-color;
    box-shadow: 2px 2px 8px $pquizShadow-color;
}
.pquizCategoriesBasket .legend {
    font-size: 85%;
    text-align: center;
    padding: .5em 1em .5em 1em;
    background-color: pquizText-color;
    color: white;
    border-radius: 5px 5px 0 0;
    white-space: nowrap;
}
.pquizCategoriesBasket .pquizCategoryDrop {
    min-height: 5em;
    min-width: 8em;
    text-align: center;
    padding: .5em .5em .3em .5em;
    border-radius: 0 0 5px 5px;
    -ms-touch-action: none;
    touch-action: none;
}

/* --- pquizCategoryItems --- */

.pquizCategoryItemDropped,
.pquizCategoryLegendItemDropped {
    float: none;
    display: block;
    margin: 0 0 .2em 0;
}

.pquizCategoryLegendItemDropped { color: black; }

.pquizCategoryColor {
    padding: 0em 1em;
    margin-left: 0.5em;
    margin-right: 0.2em;
    border-radius: 5px;
    border: 1px solid $pquizBorder-color;
    white-space: nowrap;
    cursor: pointer;
}

.pquizCategory.selected {
    color: $pquizSelected-color;
    background-color: $pquizSelected-background-color;
}

.pquizCategoryLegendItem.answerOk,
.pquizCategoryDrop.answer .pquizCategoryItem.answerOk,
.pquizCategoriesItems.answer .pquizCategoryItem.answerOk {
    color: black;
    border-bottom: 2px solid $pquizOk-color;
}

.pquizCategoryLegendItem.answerKo,
.pquizCategoryDrop.answer .pquizCategoryItem.answerKo,
.pquizCategoriesItems.answer .pquizCategoryItem.answerKo {
    color: black;
    border-bottom: 2px solid pquizKo-color;
}
