/*
 * ========= COLORING ==========
 */

.pquizColoringPalette {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.pquizColoringPalette > div {
    margin-bottom: 10px;
}

.pquizColoringPalette .pquizColoringColor,
.pquizColoringPalette .pquizColoringTool {
    border: 4px solid #7f7f7f;
    border-radius: 30px;
    height: 40px;
    overflow: hidden;
    width: 40px;
}

.pquizColoringPalette .selected {
    border: 4px solid #3030ff;
}

.pquizColoringPalette .pquizColoringSample {
    height: 100%;
    width: 100%;
}

.pquizColoringPalette .pquizColoringTool .pquizColoringSample {
    height: 30px;
    margin: 5px;
    width: 30px;
}

.pquizColoringPalette .pquizColoringToolSize > div {
    margin-bottom: 5px;
}

.pquizColoringToolSizeButtons {
    display: table;
}

.pquizColoringToolSizeButtons > span {
    border: 1px solid $pquizBorder-color;
    cursor: pointer;
    display: table-cell;
    padding: 0 8px;
}

.pquizColoringCanvas {
    display: inline-block;
    max-width: 90%;
}
