/* ******************************* PUBLIQUIZ ******************************* */

@font-face {
    font-family: 'FontAwesome';
    src: url('../Fonts/FontAwesome.otf') format("opentype"),
    url('../Fonts/FontAwesome.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


$pquizText-color: #004080;
$pquizBorder-color: #7f7f7f;
$pquizShadow-color: #bbbbbb;
$pquizOk-color: #54eb5a;
$pquizKo-color: #ffa858;
$pquizHelp-color: #004080;
$pquizAnswer-color: #339933;
$pquizSelected-color: #ffffff;
$pquizSelected-background-color: #0086cb;


@import "_publiquiz_top.scss";
@import "_publiquiz_section.scss";
@import "_publiquiz_block.scss";

@import "_publiquiz_engine_choices.scss";
@import "_publiquiz_engine_pointing.scss";
@import "_publiquiz_engine_matching.scss";
@import "_publiquiz_engine_categories.scss";
@import "_publiquiz_engine_wordsearch.scss";
@import "_publiquiz_engine_flashcard.scss";
@import "_publiquiz_engine_coloring.scss";
@import "_publiquiz_engine_memory.scss";
@import "_publiquiz_engine_production.scss";

@import "_publiquiz_buttons.scss";
@import "_publiquiz_inline.scss";
