/* CHANGELISTS */

#changelist {
    position: relative;
    width: 100%;
	height:100%;
}

#changelist table {
    width: 100% !important;
	margin:0;
	padding:0;
}

.changelist-module{
	margin:0;
	padding:0;
}

.change-list .hiddenfields { display:none; }

.change-list .filtered table {
    border-right: 1px solid #ddd;
}

.change-list .filtered {
    min-height: 450px;
}

.change-list .filtered {
    background: white url(../img/admin/changelist-bg.gif) top right repeat-y !important;
}

.change-list .filtered table, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    /*margin-right: 180px !important;*/
    width: auto !important;
	/*min-width: 85% !important;*/
}

.change-list .filtered table tbody th {
    padding-right: 1em;
}

#changelist .toplinks {
    border-bottom: 1px solid #ccc !important;
}

#changelist .paginator {
    color: #134089;
    /*border-top: 1px dotted #134089;*/
	/*-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	background:#ccccff;
    /*background: #fff url(../img/admin/nav-bg.gif) 0 180% repeat-x;*/
    overflow: hidden;
	padding:10px;
	margin:0 10px;
}

.change-list .filtered .paginator {
    border-right: 1px solid #ddd;
}

/* CHANGELIST TABLES */

#changelist table thead th {
    white-space: nowrap;
    vertical-align: middle;
	font-size:14px;
	color:#464646;
}

#changelist table thead th.action-checkbox-column {
    width: 1.5em;
    text-align: center;
}

#changelist table tbody td {
    border-left: 1px solid #ddd;
}

#changelist table tbody td:first-child {
    border-left: 0;
    border-right: 1px solid #ddd;
    text-align: center;
}

#changelist table tfoot {
    color: #666;
}

/* TOOLBAR */

#changelist #toolbar {
    padding: 0;
	width:100%;
	height:35px;
    border-bottom: 1px solid #ddd;
    background: #e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x;
    color: #666;
}

#changelist #toolbar form input {
    font-size: 11px;
    padding: 1px 2px;
}

#changelist #toolbar form #searchbar {
    padding: 2px;
}

.btn-search, #changelist .{
	font-size: 11px;
	font-weight:bold;
    padding: 5px;
	margin:0 10px;
	cursor:pointer;
	border:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	min-width:30px;
	background:#ff5a00;
	color:#fff;
}

#changelist #changelist-search img {
    vertical-align: middle;
}

/* FILTER COLUMN */

#changelist-filter {
	position: absolute;
    top: 165px;
    right: 0;
    /*z-index: 1000;*/
	float:right;
    min-width: 160px;
    background: #efefef;
    margin: 0;
	padding:10px;
    background: #eee;
    border: 1px darkgray solid;
    border-radius: 5px;
}
.hide {
    display:none;
}
#toolbar_search_btn {
    border:1px solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 4px;
    display: block;
    height: 22px;
    top: 7px;
    padding: 1px 10px 1px 10px;
    font-size: 12px;
    font-weight:bold;
    background-color: #ff5a00;
    color: #fff;
    position:absolute;
    right:5px;
    left:inherit;
}
#changelist-filter h2 {
    font-size: 14px;
	margin:0;
    border-bottom: 1px dotted #134089;
}

#changelist-filter h3 {
    font-size: 12px;
	font-weight:bold;
    margin-bottom: 0;
	color:#134089;
}

#changelist-filter ul {
    padding-left: 0;
    margin-left: 10px;
}

#changelist-filter li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#changelist-filter a {
    color: #474747;
}

#changelist-filter a:hover {
    color: #fff;
    background: #134089;
}

#changelist-filter li.selected {
    border-left: 5px solid #0099ff;
    padding-left: 5px;
    margin-left: -10px;
	color:#474747;
}

#changelist-filter li.selected a {
    color: #474747 !important;
}

#changelist-filter li.selected a:hover {
    color: #fff !important;
}

/* DATE DRILLDOWN */

.change-list ul.toplinks {
    display: block;
    background: white url(../img/admin/nav-bg-reverse.gif) 0 -10px repeat-x;
    border-top: 1px solid white;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.change-list ul.toplinks li {
    float: left;
    width: 9em;
    padding: 3px 6px;
    font-weight: bold;
    list-style-type: none;
}

.change-list ul.toplinks .date-back a {
    color: #999;
}

.change-list ul.toplinks .date-back a:hover {
    color: #036;
}

/* PAGINATOR */

.paginator {
    font-size: 11px;
    line-height: 22px;
}

.paginator a:link, .paginator a:visited {
    padding: 5px 10px;
    background: #134089;
	color:#fff;
    text-decoration: none;
	font-weight:bold;
	-moz-border-radius:4px;
	-web-border-radius:4px;
	border-radius:4px;
}

.paginator a.showall {
	margin:0 5px;
    padding: 5px 10px !important;
	font-weight:bold;
}

.paginator a.showall:hover {
    color: #fff !important;
}

.paginator .end {
    margin-right: 8px;
}

.paginator .this-page {
    font-weight: bold;
    font-size: 13px;
    vertical-align: top;
	padding: 5px 10px;
    text-decoration: none;
	font-weight:bold;
	-moz-border-radius:4px;
	-web-border-radius:4px;
	border-radius:4px;
	border:solid 1px #134089;
	background:#d1d1ff;
}

.paginator a:hover {
    color: #fff;
    background: #ff9900;
}

/* ACTIONS */

.filtered .actions {
    margin-right: 180px !important;
}

#changelist table input {
    margin: 0;
}

#changelist table tbody tr.selected {
    background-color: #FFFFCC;
}

#changelist .actions {
	display:block;
	width:50%;
	float:right;
	clear:left;
	text-align:right;
    color: #999;
    padding: 3px;
	position:absolute;
	top:2px;
	left:34%;
    /*background: white url(../img/admin/nav-bg-reverse.gif) 0 -10px repeat-x;*/
}

#changelist .actions.selected {
    background: #fffccf;
    border-top: 1px solid #fffee8;
    border-bottom: 1px solid #edecd6;
}

#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
    font-size: 11px;
    margin: 0 0.5em;
    display: none;
}

#changelist .actions:last-child {
    border-bottom: none;
}

#changelist .actions select {
    border: 1px solid #aaa;
    margin-left: 0.5em;
    padding: 1px 2px;
}

#changelist .actions label {
    font-size: 11px;
    margin-left: 0.5em;
	color:#134089;
	font-weight:bold;
}

#changelist #action-toggle {
    display: none;
}

#changelist .actions .button {
    font-size: 11px;
	font-weight:bold;
    padding: 5px;
	margin:0 10px;
	cursor:pointer;
	border:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	min-width:30px;
	background:#ff5a00;
	color:#fff;
}

#changelist .actions .button:hover{background:#ff9933;}
.action-select{vertical-align:middle; line-height:25px;}

/* CAIXA DE BUSCA - LADO DIREITO DA TELA - INICIO */

#changelist-searcharea {
	min-width:320px; 
	float:left;
	margin-top:5px;
	}

/* CAIXA DE BUSCA - LADO DIREITO DA TELA - FIM */

#changelist-filter .dropdown-header {
    font-size: 12px;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 0;
    color:#134089;
}

#changelist-filter li.active {
    text-decoration: underline;
}


