/* DASHBOARD */

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}
ul.actionlist li a {
	color:#464646;
	font-weight:bold;
}

/* MODULO DE RELATORIOS */

ul.relatedlist li {
    list-style-type: none;
}
ul.relatedlist li a {
	/*background:#b7c4c7;*/
	color:#464646;
	text-align:left;
	float:left;
	font-size:12px;
	font-weight:bold;
	padding:2px 0 2px 20px;
	margin:4px 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:solid 1px #ccc;
	width:22%;
	height:25px;
	line-height:25px;
	background:url(../img/admin/bg-btn-modal-call.png) repeat-x center center;
}

ul.relatedlist li a:hover {background:url(../img/admin/bg-btn-modal-call2.png) repeat-x center center; border-color:#ff9900; color:#fff;}