@import url('../admin/css/widgets.css');

/* FORM ROWS */

.form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 11px;
    border-bottom: 1px solid #eee;
	width:100%;
}

.form-row img, .form-row input {
    vertical-align: middle;
}

form .form-row p {
    padding-left: 0;
    font-size: 11px;
}

/* FORM LABELS */

form h4 {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

label {
    font-weight: normal !important;
    color: #666;
    font-size: 12px;
}

.required label, label.required {
    font-weight: bold !important;
    color: #333 !important;
}

/* RADIO BUTTONS */

form ul.radiolist li {
    list-style-type: none;
}

form ul.radiolist label {
    float: none;
    display: inline;
}

form ul.inline {
    margin-left: 0;
    padding: 0;
}

form ul.inline li {
    float: left;
    padding-right: 7px;
}

/* ALIGNED FIELDSETS */

.aligned label {
    display: inline-block;
	margin:5px 10px 5px 0;
	vertical-align:top;
}
.aligned .div_field {
    display: inline-block;
    vertical-align:top;
}

.aligned ul label {
    display: inline;
    float: none;
    width: auto;
}

.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField {
    width: 350px;
}

form .aligned p, form .aligned ul {
    margin-left: 7em;
    padding-left: 30px;
}

form .aligned table p {
    margin-left: 0;
    padding-left: 0;
}

form .aligned p.help {
    padding-left: 0;
    margin-left: 0;
}

.aligned .vCheckboxLabel {
    float: none !important;
    display: inline;
    padding-left: 4px;
}

.colM .aligned .vLargeTextField, .colM .aligned .vXMLLargeTextField {
    width: 610px;
}

.checkbox-row p.help {
    margin-left: 0;
    padding-left: 0 !important;
}

fieldset .field-box {
    float: left;
    margin-right: 20px;
}

fieldset .field-box .div_field p {
    /*Tratamento para os campos read-only*/
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
}

form .aligned .div_field p.file-upload {
    /*Tratamento para os campos de file upload*/
    margin: 0;
    padding: 0;
}

/* WIDE FIELDSETS */

.wide label {
    display: inline-block;
    vertical-align:top;
}

form .wide p {
    /*margin-left: 15em;*/
}

form .wide p.help {
    padding-left: 0;
    margin-left: 0;
}

.colM fieldset.wide .vLargeTextField, .colM fieldset.wide .vXMLLargeTextField {
    width: 450px;
}

form .wide .div_field p.file-upload {
    /*Tratamento para os campos de file upload*/
    margin: 0;
    padding: 0;
}


/* COLLAPSED FIELDSETS */

fieldset.collapsed * {
    display: none;
}

fieldset.collapsed h2, fieldset.collapsed {
    display: block !important;
}

fieldset.collapsed h2 {
	background-image: url(../img/admin/nav-bg.gif);
	background-position: bottom left;
	color: #134089;
}

fieldset.collapsed .collapse-toggle {
    background: transparent;
    display: inline !important;
	padding:0 5px;
	color:#ff9900;
	outline:none;
}

fieldset.collapse .collapse-toggle{
	padding:0 5px;
	outline:none;
	}

/* MONOSPACE TEXTAREAS */

fieldset.monospace textarea {
    font-family: Arial, Verdana, Helvetica, Sans-serif;
}

/* SUBMIT ROW */

.submit-row {
	margin:5px 10px;
    padding: 5px 10px;
    text-align: center;
    /*background:#fff url(../img/admin/nav-bg.gif) 0 100% repeat-x;*/
    border-top: 1px dotted #0099ff;
    margin: 5px 0;
    overflow: hidden;
	clear:both;
}

.submit-row2{
	margin:5px 10px;
    padding: 5px 10px;
    text-align: center;
    /*background:#fff url(../img/admin/nav-bg.gif) 0 100% repeat-x;*/
    margin: 5px 0;
    overflow: hidden;
	clear:both;
}

.submit-row input {
    margin: 0 auto;
	float:left;
}

.submit-row p {
    margin: 0.3em;
}

.submit-row p.deletelink-box {
    float: left;
	margin:0;
}

.submit-row .deletelink {
    border:solid 1px #c03;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:1px 10px 2px 10px;
	margin:0 5px;
    /*background: #134089 url(../img/admin/default-bg.gif) bottom repeat-x;*/
    background: #ebebeb;
    font-weight: bold;
	text-align:center;
    color: #fff;
	cursor:pointer;
}


/* botoes de edicao */

.submit-row input[type=submit] {
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 10px;
	margin:0 5px;
    /*background: #134089 url(../img/admin/default-bg.gif) bottom repeat-x;*/
    background: #134089;
    font-weight: bold;
	text-align:center;
    color: #fff;
	cursor:pointer;
}

.submit-row input[type=submit]:hover{background:#7cc623;} 

.button.default:active, input[type=submit].default:active {
    background-image: url(../img/admin/default-bg-reverse.gif);
    background-position: top;
}

/* botoes de edicao */

/* CUSTOM FORM FIELDS */

.vSelectMultipleField {
    vertical-align: top !important;
}

.vCheckboxField {
    border: none;
}

.vDateField, .vTimeField {
    margin-right: 2px;
}

.vURLField {
    width: 30em;
}

.vLargeTextField, .vXMLLargeTextField {
    /*width: 48em;*/
    width: 30em;
}

.flatpages-flatpage #id_content {
    height: 40.2em;
}

.module table .vPositiveSmallIntegerField {
    width: 2.2em;
}

.vTextField {
    width: 20em;
}

.vIntegerField {
    width: 5em;
}

.vForeignKeyRawIdAdminField {
    width: 5em;
}

/* INLINES */

.inline-group {
    padding: 0;
    /*border: 1px solid #ccc;*/
    margin: 10px 0;
}

.inline-group .aligned label {
    /*min-width: 10em;*/
}

.inline-related {
    position: relative;
}

.inline-related h3 {
    margin: 0;
    color: #666;
    padding: 10px 5px;
    font-size: 12px;
    background: #e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x;
    border-bottom: 1px solid #ddd;
}

.inline-related h3 span.delete {
    float: right;
}

.inline-related h3 span.delete label {
    margin-left: 2px;
    font-size: 11px;
}

.inline-related fieldset {
    margin: 0;
    background: #fff;
    border: none;
}

.inline-related fieldset.module h3 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #bcd;
    color: #fff;
}

.inline-group .tabular fieldset.module {
    border: none;
    border-bottom: 1px solid #ddd;
}

.inline-related.tabular fieldset.module table {
    width: 100%;
	margin:0;
	padding:0;
}

.last-related fieldset {
    border: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 2em;
}

.inline-group .tabular tr td.original {
    padding: 2px 0 0 0;
    width: 0;
    _position: relative;
    visibility: hidden;
}

.inline-group .tabular th.original {
    width: 0px;
    padding: 0;
}

.inline-group .tabular td.original p {
    position: absolute;
    left: 0;
    height: 1.1em;
    padding: 2px 7px;
    overflow: hidden;
    font-size: 9px;
    font-weight: bold;
    color: #666;
    _width: 700px;
}

.inline-group ul.tools {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-group ul.tools li {
    display: inline;
    padding: 0 5px;
}

.inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    color: #666;
    padding: 3px 5px;
    border-bottom: 1px solid #ddd;
    background: #e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x;
}

.inline-group .tabular tr.add-row td {
    padding: 4px 5px 3px;
    border-bottom: none;
}

.inline-group ul.tools a.add,
.inline-group div.add-row a,
.inline-group .tabular tr.add-row td a {
    background: url(../img/admin/icon_addlink.gif) 0 50% no-repeat;
    padding-left: 14px;
    font-size: 11px;
    outline: 0; /* Remove dotted border around link */
}

.empty-form {
    display: none;
}

/* clearboxes  */

.clearable-file-input{
	display:block; 
	width:70px;
	height:25px;
	float:right;
	margin-left:5px;
	line-height:23px;
	background:#3287b1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.clearable-file-input input[type="checkbox"]{
	margin:6px 5px 0 0;
	float:right;
}

.clearable-file-input label, .clearable-file-input .aligned-label{
		font-size:11px;
		margin:0 5px;
		line-height:25px;
		color:#fff;
}

/* clearboxes  */
