/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* PAGE STRUCTURE */
#container { position:relative; width:100%; min-width:760px; padding:0; }
#portal-logo { background:url('../img/admin/tit_sistema.gif') no-repeat; border:0; margin:22px 0em 1em 26px; padding:0; }
#portal-logo a { display:block; text-decoration:none; overflow:hidden; border:0; margin:0; padding:0; padding-top:24px; height:0px !important; width:192px; cursor:pointer; }
#content { margin:10px 15px; }
#header { width:100%; }
#content-main { float:left; width:100%; }
#content-related { float:right; width:18em; position:relative; margin-right:-19em; }
#footer { clear:both; padding:10px; }

/*  COLUMN TYPES  */
.colMS { margin-right:20em !important; }
.colSM { margin-left:20em !important; }
.colSM #content-related { float:left; margin-right:0; margin-left:-19em; }
.colSM #content-main { float:right; }
.popup .colM { width:95%; }
.subcol { float:left; width:46%; margin-right:15px; }
.dashboard #content { width:500px; }

/*  HEADER  */
#header { color:#666; overflow:hidden; }
#header a:link, #header a:visited { color:#333; }
#header a:hover { text-decoration:underline; }
#branding h1 { padding:0 10px; font-size:18px; margin:68px 0; font-weight:normal; color:#f4f379; }
#branding h2 { padding:0 10px; font-size:14px; margin:-8px 0 8px 0; font-weight:normal; color:#ffc; }
#user-tools { position:absolute; top:0; right:0; padding:0.5em 10px 0 0; font-size:10px; text-align:right; }
#logo-ansp { float:right; margin:2.5em 1em 0 0; }

/* SIDEBAR */
#content-related h3 { font-size:12px; color:#666; margin-bottom:3px; }
#content-related h4 { font-size:11px; }
#content-related .module { background:#fff url(../img/admin/bg_sidebar.gif) top left no-repeat; color:#333; }
