/* LOGIN FORM */

body.login {
    background: #fff;
}

.login #container {
    background: #fff;
    border: 1px solid #ccc;
    width: 25%;
    min-width: 300px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	overflow:hidden;
	margin-bottom:10%;
}

.login #content-main {
    width: 330px;
	margin:1%;
	border:none;
}

.login h1{text-align:center; margin:10px 0;}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
	display:block;
}

.login .form-row label {
    float: left;
    width: 8em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    width: 14em;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    text-align:center;
	margin:10px 0;
}