/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body{margin:0; padding:0; font-family:Arial, Verdana, Helvetica, Sans-serif;}
#root{width:90%; margin:20px auto; border:solid 1px #ccc;}

.logo{
	overflow:hidden;
	text-indent:-300px; 
	float:left; 
	display:block; 
	width:215px; 
	height:105px; 
	margin:30px; 
	background: url(/media/img/logo-ansp-monitor.jpg) no-repeat center center;
	position:relative;
	top:-15px;
}

.bullet{width:20px; height:20px;}
.description{margin:5px 10px; font-size:12px;}
h2{display:block; clear:both; margin:30px; color:#e36627; letter-spacing:-1px;}
h4{display:block; clear:both; margin:30px; color:#134089; letter-spacing:-1px;}
h4.title-grafico{display:block; clear:both; margin:30px; color:#134089; letter-spacing:-1px; text-align:center; background:#ebebeb;}
ul{list-style:none; margin:20px; padding:0;}
ul li {float:left; width:250px; min-height:170px; margin:10px; padding:5px 0; border:solid 1px #ccc;}
*ul li {float:left; width:250px; min-height:170px; margin:8px; padding:5px 0; border:solid 1px #ccc;}
ul li a{display:block; text-decoration:none; margin-bottom:5px; padding:0 10px; line-height:25px; font-weight:bold; color:#464646;}
ul li a:hover{background:#ffff99;}
img{margin:5px;}
img.grafico{position:relative; left:50%; margin-left:-270px; text-align:center; width:540px; height:240px;}
span{}

.indice-grafico{font-weight:bold; font-size:14px; color:#464646; margin:0 30px;}
