/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; line-height: 1;}
table { width:100%;}
th { text-align:center; font-size:11px; font-weight:bolder; padding: 5px;}
td { text-align:left; font-size: 10px; padding: 5px; }
.num { text-align:right; }
h1 { font-size: 15px;}
h3 { font-size: 13px; page-break-before: always;}

