/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tooltip{
   position:absolute;
   display:none;
   padding: 10px 30px;
   background:#00f;
   color:#fff;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
    border-radius:5px;
}

.tabela tr { height:5px; }

.u {
    background:white repeat-y;
    width:7px;
    vertical-align:top;
    display:table-cell;
}
.bloco-n {
    width:20px;
    background-color:white;
    margin-right:7px;
    vertical-align:top;
    border-bottom:1px solid;
    border-color: #999a9a;
    display:table-cell;
}

.bloco-n .u-n {
    width:19px;
    height:19px;
    background:#d8d8d8;
    color:#636363;
    font:8px Verdana,Arial;
    border-top:0;
    border-right:1px;
    border-bottom:0;
    border-left:1px; 
    border-style:solid; 
    font-size:9px;
}
.bloco-n .u-n div {
	border-top: 1px solid;
	vertical-align: middle;
	text-align: center;
	line-height: 18px;
	}
.rack {
	width:255px;
	display:inline-table;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:30px;
    font-size:0;
    vertical-align: top;
}
.rack h2 { height: 20px; }
.rack h2 a:link,
.rack h2  a:visited,
.rack h2  a:hover,
.rack h2  a:active {
   color:#333;  
} 
.interno {
	position:relative;
    width:199px;
    padding-left:1px;
    padding-right:4px;
    font-size:10px;
    display:table-cell;
}
.interno a:link,
.interno a:visited,
.interno a:hover,
.interno a:active {
   color:#FFF;
}
.interno div a img {
    position:absolute;
    top: 0;
    z-index: 5;
    width:100%;
    height:100%;
}
.interno > div {
    position:absolute;
    top: 15px;
    z-index: 10;
}

.interno .rack_grid {
    position:absolute;
    width:202px;
    top:1px;
}
.interno .rack_grid .rack_grid_item {
    position:relative;
    border-bottom:1px solid #eee;
    height:18px;
    width:100%;
}

/* hack para acerto do posicionamento para o Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .interno > div {
        position:absolute;
        top: 5px;
        z-index: 10;
    }
}
/* hack para acerto do posicionamento para Firefox */
.interno > div,  x:-moz-any-link {
    top: 15px;
}


.interno a div div div:nth-child(1) {
    position:relative;
    display: table-cell;
    vertical-align:middle;
    line-height: 1.5em;
    width: 199px;
    text-align: center;
    z-index:20;
}

.interno a div div div:nth-child(2) {
    position: absolute;
	top: 0;
	left: 0;
    vertical-align:middle;
    line-height: 1.5em;
    width: 199px;
    text-align: center;
    display:none;
    z-index:10;
}
	
.equip {
    display:table-cell;
    position:absolute;
    top: 0;
    background:#81878b;
    width:199px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    padding-right:1px; 
    padding-left:1px; ;
    vertical-align:middle; 
    line-height:1.5em;
}



.interno a {
    position:relative;
    z-index: auto;
}

.interno div a div div div:nth-child(1).pos_T01,
.interno div a div div div:nth-child(2).pos_T01,
.equip.pos_T01, 
.interno div a div div div:nth-child(1).pos_01,
.interno div a div div div:nth-child(2).pos_01,
.equip.pos_01 {
	width:97px;
	font-size: 9px;
}
.interno div a div div div:nth-child(1).pos_01_label,
.interno div a div div div:nth-child(2).pos_01_label,
.equip.pos_01_label, 
.interno div a div div div:nth-child(1).pos_01_label,
.interno div a div div div:nth-child(2).pos_01_label,
.interno a div div div:nth-child(1).pos_01_label,
.interno a div div div:nth-child(2).pos_01_label,
.pos_01_label
 {
    width:97px;
    font-size: 9px;
}

.interno div a div div div:nth-child(1).pos_T02,
.interno div a div div div:nth-child(2).pos_T02,
.equip.pos_T02,
.interno div a div div div:nth-child(1).pos_02,
.interno div a div div div:nth-child(2).pos_02,
.equip.pos_02 {
	left:103px;
	width:97px;
	padding-right: 0;
	margin-right: 0;
	font-size: 9px;
}

.interno div a div div div:nth-child(1).pos_02_label,
.interno div a div div div:nth-child(2).pos_02_label,
.equip.pos_T02.pos_02_label,
.interno div a div div div:nth-child(1).pos_02_label,
.interno div a div div div:nth-child(2).pos_02_label,
.equip.pos_02_label {
    left:0;
    width:97px;
    font-size: 9px;
}



.interno div a div div div:nth-child(1).pos_T03,
.interno div a div div div:nth-child(2).pos_T03,
.equip.pos_T03,
.interno div a div div div:nth-child(1).pos_03,
.interno div a div div div:nth-child(2).pos_03,
.equip.pos_03 {
}

.equip.conflito {
	border:2px red solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 1px;
}
.equip.profundidade_curta {
    background-color:#ccc;
}
img.profundidade_curta {
    opacity:0.4;
}
 
.espaco {
    width:100%;
    display:none;
    background:#fff;
 }
.dc {
    margin-top:50px;
}
.conflitos-title {
    position:relative;
    color: red;
    cursor:pointer;
    margin-left: 15px;
}
.conflitos {
    font-size:11px;	
}
.conflitos table {
    border-collapse: collapse; 
}
.conflitos-content {
	display:none;
}
.conflitos .conflito-tbl-obs {
	 border-top:1px black solid; 
	 font-weight:bold;
}

.outros caption {
	display:block;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
.outros table {
	margin-left:0;
	margin-right:0;
	margin-bottom:10px;
	margin-top:10px;
	width:100%;
	border-collapse: collapse;
}
.outros th,
.outros td {
	border: 1px dotted;
}
#chk_stencil+span,
#chk_legenda+span,
#chk_traseiro+span,
#chk_legenda_desc+span {
	cursor:pointer;
}
 #wrap-form {
    width: 475px;
    height: 35px;
    position: relative;
    display: inline-block;
 }

 #icons {
    display: inline-block;
 }
#icons img {
	width:30px;
	height:35px;
	margin:-10px;
}

 .rack_frontal {
    margin:0 0 0 10px;
    padding:0;
    width: 305px;
    float:left;
    position:relative;
 }
 .rack_traseiro {
    margin:0 0 0 10px;
    padding:0;
    width: 305px;
    float:left;
    vertical-align: top;
    display:none;
    position:relative;
 }
 
 .rack_lateral {
    display: table-cell;
    min-width: 16px;
    color: black;
    margin: 0;
    font-size:12px;
    vertical-align: top;
    position:relative;
 }
 
 .div_pdu {
    display: table-cell;
    width: 30px;
    color: black;
    font-size: 5px;
    position:relative;
}
 .div_pdu a .equip {
    position: absolute;
    top: 0;
    width: 20px;
    margin-left: 4px;
    margin-right: 5px;
    position:absolute;
 }
 .div_pdu a .equip img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
 }

@media screen {
    .interno a div div div {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -2px 0 1px black, 0 2px 1px black, 2px 0 1px black, 0 -2px 1px black;
    }
}

@media print {
	.page-break {
		page-break-after:always;
	}
	/* escurece a imagem para dar contraste com a cor branca da fonte */
	.interno a img {
	    opacity:0.6;
	    filter:alpha(opacity=60);
	    background-color:black;
	}
	.conflitos-title {
	   display:none;
	}
	.equip.conflito {
	   border: 0;
	}
	.interno a div div div {
        font-weight:bold;
    }
}

