
.collapsibleList li{
  cursor           : auto;
}

li.collapsibleListOpen:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url("button-open.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

li.collapsibleListClosed:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url("button-open.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

li.collapsibleListOpen {
  cursor           : pointer;
  list-style-type  : none;
}

li.collapsibleListClosed{
  cursor           : pointer;
  list-style-type  : none;
}

div.card {
    padding: 10px;
    margin: 10px;
    border: none;
}