/*
 * ======= SECTION LEVEL =======
 */

/* ------- pdocHeader ------- */

.pdocHeader {
    text-align: center;
    margin-bottom: 1em;

    .colFirst { text-align: left; }
}

/* ------- pdocSection ------ */

.pdocSection1, .pdocSection2,
.pdocSection3, .pdocSection4,
.pdocSection5 {
    text-align: justify;
    margin-bottom: .8em;
    font-variant: normal;
}

.pdocSectionTitle {
    font-weight: bold;
    margin: .6em 0 .4em 0;
}

.pdocSection1 .pdocSectionTitle {
    font-size: 123.1%;
}

.pdocSection2 .pdocSectionTitle {
    font-size: 116%;
    font-style: normal;
}

.pdocSection3 .pdocSectionTitle {
    font-size: 108%;
    font-style: italic;
}

.pdocSection4 .pdocSectionTitle {
    font-weight: normal;
}

.pdocSectionSubtitle {
    font-weight: bold;
    margin: .3em 0 .3em 0;
}

.pdocSection4 .pdocSectionSubtitle {
    font-weight: normal;
}

/* ------- pdocFooter ------- */

.pdocFooter {
    text-align: center;
    margin-top: 1em;

    .colFirst { text-align: left; }
}
