/*
 * ========= TOP LEVEL =========
 */

/* --------- pdocToc -------- */

.pdocToc h1, .pdocToc h2, .pdocToc h3,
.pdocToc .h1, .pdocToc .h2, .pdocToc .h3 { text-align: center; }
.pdocToc h2, .pdocToc .h2 { margin: 2em 1em 1em 1em; }
.pdocToc h3, .pdocToc .h3 { margin-top: 2em; }
.pdocToc ol, .pdocToc ul {  margin: 0; padding: 0; }
.pdocToc ol ol, .pdocToc ul ul { margin-left: 1.3em; }
.pdocToc li { list-style-type: none; margin-top: 1.5em; }
.pdocToc li li {  margin-top: .4em; }
.pdocToc li span  { display: inline-block; padding-top: .4em; }
.pdocToc div { padding-top: .4em; }
.pdocToc a[href] {
    display: block;
    padding: .4em 0 .4em 0;
    text-decoration: none;
    border-bottom: 1px solid $pdocBorder-color;
}
.pdocToc a:hover { background-color: #f0f8ff; }
.pdocToc a.pdocNoteCall { display: inline; border: none; }

.pdocOneFile.pdocToc {
    border-left: 8px dotted $pdocBorder-color;
    padding-left: .8em;
    margin-bottom: 2em;
}
.pdocOneFile.pdocToc li    { margin-top: .2em; }
.pdocOneFile.pdocToc li li { margin-top: 0; }

/* ------ pdocDocument ------ */

.pdocDocument h1,
.pdocDocument .h1 {
    margin: 0 0 1em 0;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: #fafafa;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 138.5%;
}

.pdocDocument h2,
.pdocDocument .h2 {
    border-bottom: 1px solid black;
}

.pdocDocument h1 .h2,
.pdocDocument .h1 .h2 {
    display: block;
    margin-top: 1em;
    border-bottom: none;
    font-size: 83.5%;
}

/* -------- pdocIndex ------- */

.pdocIndex ul,
.pdocIndex ul li {
    list-style-type: none;
    margin-left: 0;
}

.pdocIndex ul ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
}

.pdocIndex a,
.pdocIndex a:visited {
    font-size: 116%;
    text-decoration: none;
}
