/*
 * ======== INLINE LEVEL =======
 */

/* --------- pdocMath ------- */

.pdocMathDiv {
    display: block;
}

.pdocMathDisplay {
    display: block;
    text-align: center;
    margin: .3em 4em .3em 4em;
}

.pdocMathBox {
    padding: .5em;
    border: 1px solid black;
    box-shadow: 2px 2px 3px $pdocShadow-color;
}

.pdocMathNumber {
    display: block;
    float: right;
}

/* -------- pdocNote -------- */

.pdocNote {
    margin: 0;
}

.pdocNote h1 {
    margin-top: 0;
    padding: .3em;
    text-align: center;
}

.pdocNoteText {
    margin: 1em;
    text-align: justify;
}

.pdocNoteBack {
    margin-top: 2em;
    padding: .3em;
    text-align: center;
}
.pdocNoteBack a {
    text-decoration: none;
}

a.pdocNoteLink,
a.pdocNoteCall {
    cursor: help;
}

a.pdocNoteCall {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    border: none;
}

.pdocNoteFooter {
    clear: both;
    text-align: left;
    margin-top: 1em;
    padding-top: .5em;
    font-size: 85%;
    border-top: 1px solid #000000;
}
.pdocNoteFooter div {
    margin-bottom: .6em;
}
.pdocNoteFooter a  {
    text-decoration: none;
    font-weight: bold;
}

/* -------- pdocName -------- */

.pdocName {
    font-weight: inherit;
}

.pdocName-person {
    font-style: normal;
    font-variant: small-caps;
    font-weight: inherit;
}

/* ------- pdocInitial ------ */

.pdocInitialCap {
    font-size: 250%;
}

.pdocInitialWords {
    font-variant: small-caps;
}

/* --------- pdocIcon ------- */

.pdocIcon {
    vertical-align: middle;
}

/* ------ Miscellaneous ----- */

sup, sub {
    font-variant: normal;
}

.pdocNumberRoman {
    /* font-variant: small-caps; */
    font-size: 85%;
    text-transform: uppercase;
}

.pdocAcronym {
    font-variant: small-caps;
    font-size: 93%;
}

.pdocLiteral {
    font-style: normal;
    font-weight: normal;
}

.pdocHighlight {
    font-style: inherit;
}

.pdocEmphasis {
    font-weight: inherit;
}

.pdocMentioned {
    font-style: oblique;
    font-weight: inherit;
}

.pdocForeign {
    font-weight: inherit;
}
.pdocNoWrap {
    white-space:nowrap;
}

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; }
.hidden { display: none; }
