/*
 * ========= HEAD LEVEL ========
 */

/* ------ pdocKeywords ------ */

.pdocKeywords,
.pdocSubjects {
    font-size: 77%;
    text-align: right;
}

/* ------ pdocAbstract ------ */

.pdocAbstract {
    font-weight: normal;
    font-size: 85%;
    margin-bottom: .4em;
}

.pdocToc li .pdocAbstract {
    display: inline;
}

/* -------- pdocCover ------- */

body.pdocCover {
    margin: 0;
    padding: 0;
}

body.pdocCover div {
    height: 100%;
    text-align: center;
}

body.pdocCover img {
    height: 100%;
}

.pdocCover {
    text-align: center;
}

/* ----- pdocAnnotation ----- */

.pdocAnnotation {
    font-size: 85%;
    border: 1px solid $pdocShadow-color;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    padding: .3em;
    margin: .5em;
}
