/*
 * ======= DIVISION LEVEL ======
 */

/*------- pdocDivision ------ */

div.pdocDivision {
    padding-left: .8em;
}

.pdocDivision h1,
.pdocDivision .h1,
.pdocLead1 .pdocDivisionTitle {
    margin: 0 0 1em 0;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: #fafafa;
    font-size: 167%;
    font-weight: bold;
    font-variant: small-caps;
}

.pdocDivision h1 .pdocTitle2,
.pdocDivision .h1 .pdocTitle2 {
    font-size: 93%;
}

.pdocDivision h1 .pdocTitle3,
.pdocDivision .h1 .pdocTitle3 {
    font-size: 85%;
}

.pdocDivision h1 .pdocTitle4,
.pdocDivision .h1 .pdocTitle4 {
    font-size: 77%;
}

.pdocLead2 .pdocDivisionTitle {
    font-size: 167%;
    font-weight: bold;
    font-variant: small-caps;
}

.pdocLead3 .pdocDivisionTitle {
    font-size: 167%;
    font-variant: small-caps;
}

.pdocLead1 .pdocDivisionSubtitle,
.pdocLead2 .pdocDivisionSubtitle,
.pdocLead3 .pdocDivisionSubtitle {
    font-size: 131%;
}

.pdocDivision h4 {
    font-size: 108%;
    font-style: italic;
    margin-bottom: .5em;
}

/*--------- pdocFront ------- */

.pdocFront {
    font-size: 108%;
    margin: 1em 1.5em 1.5em 1.5em;
}
