/*
 * ========= BLOCK LEVEL =======
 */

/* ---------- pdocP --------- */

.pdocP {
    margin: 0 0 .2em 0;
}

.pdocSection1 .pdocP.initial,
.pdocSection2 .pdocP.initial,
.pdocSection3 .pdocP.initial,
.pdocSection4 .pdocP.initial,
.pdocSection5 .pdocP.initial {
    text-indent: 0;
}

/* ------- pdocSpeech ------- */

.pdocSpeech {
    margin-bottom: .8em;
}

/* -------- pdocList -------- */

.pdocList {
    margin-top: .4em;
    margin-bottom: .4em;
}

.pdocListTitle {
    font-weight: bold;
}

.pdocListGlossary {
    margin-left: 0;
    padding: 0;
}

.pdocListGlossary li {
    list-style-type: none;
    margin-bottom: .4em;
}

/* -------- pdocQuote ------- */

span.pdocQuote {
    font-style: italic;
}

div.pdocQuote {
    margin: 0 0 .2em 0;
    padding: 0 1.5em 0 1.5em;
}

.pdocQuoteAttribution {
    font-style: normal;
    text-align: right;
}

/* ------- pdocTable -------- */

.pdocTable {
    margin: .8em 0 .8em 0;
}

.pdocTable table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

.pdocTable tr {
    padding: 0.3em;
}

.pdocTable th,
.pdocTable td {
    vertical-align: text-top;
    padding: 0.3em;
    border: 1px solid #000000;
}

.pdocTable td {
    text-align: left;
}

.pdocTableTitle {
    font-size: 93%;
    font-variant: small-caps;
}

.pdocTableCaption {
    font-size: 85%;
}

/* ------- pdocMedia -------- */

.pdocMedia {
    margin: .8em 0 .8em 0;
}
.pdocMedia.pdocMedia-insert {
    float: left;
    margin: 0 .8em 0 0;
}
.pdocHeader .pdocMedia {
    margin: 0;
}

.pdocMediaTitle {
    font-size: 93%;
    font-variant: small-caps;
}

.pdocMediaCopyright {
    font-style: italic;
    font-size: 75%;
}

.pdocMediaCaption {
    font-size: 85%;
}

/* ------ pdocHotspot ------- */

.pdocHotspot,
.pdocHotspotSpot {
    font-size: 108%;
    text-shadow: 1px 1px 1px $pdocShadow-color;
}

.pdocHotspot-normal,
.pdocHotspot-visible,
.pdocHotspot-pulse {
    cursor: pointer;
}

.pdocHotspot-visible {
    border: 2px dotted gray;
}

.pdocHotspot a {
    display: block;
    text-decoration: none;
}

/* ------- pdocAudio -------- */

.pdocAudio, .pdocAudio img {
    vertical-align: middle;
}

/* ----- pdocBiblioEntry ---- */

.pdocBiblioEntry {
    margin: 0 0 .4em 2em;
    text-indent: -2em;
}

/* ----- pdocMeaning ---- */

.pdocGlossEntryTitle {
    margin:1em 0 0.2em 0;
    text-transform:capitalize;
    display:inline-block;
}
.pdocAlt-terms {
    display:inline-block;
}
.pdocGramcode {
    font-style:italic;
    border-top:solid 2px $pdocBorder-color;
}
.pdocMeaning {
    margin: 0 0 0.2em 0;
}
.pdocMeaning:nth-child(even) {
    background: #ebebeb;
}
.pdocMeaning:nth-child(odd) {
    background: #ffffff;
}
.pdocMeaningDomain {
    font-variant:small-caps;
}
.pdocGramcode {
    font-style:italic;
    border-top:solid 2px $pdocBorder-color;
}
.pdocMeaningLabel {
    font-weight:bold;
}
