/*
 * ====== COMPONENT LEVEL ======
 */

/* ---- pdocTopicOneFile ---- */

.pdocTopicOneFile {
    border-bottom: 3px solid $pdocBorder-color;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

/* ----- pdocTopic-title ---- */

.pdocTopic-title {
    text-align: center;
}
div.pdocTopic-title {
    border: 2px solid #993333;
    padding: 2em;
}

body.pdocTopic-title h1,
body.pdocTopic-title .h1,
div.pdocTopic-title h2,
div.pdocTopic-title .h2 {
    font-size: 180%;
    margin: 1em 0 2em 0;
    text-align: center;
    border: none;
}

body.pdocTopic-title h2,
body.pdocTopic-title .h2,
div.pdocTopic-title h3,
div.pdocTopic-title .h3 {
    margin-bottom: 6em;
    text-align: center;
}

.pdocTopic-title .pdocP {
    text-align: center;
}

/* --- pdocTopic-copyright -- */

.pdocTopic-copyright .pdocSection1 {
    margin-bottom: 1em;
}
.pdocTopic-copyright .pdocSection1.first {
    padding-top: 3em;
}

.pdocTopic-copyright .pdocP {
    margin-bottom: 0;
}

/* -- pdocTopic-dedication -- */

.pdocTopic-dedication .pdocSection1 {
    padding-top: 3em;
    margin-left: 30%;
    text-align: right;
}

/* -- pdocTopic-inscription - */

.pdocTopic-inscription .pdocSection1 {
    padding-top: 3em;
    margin-left: 50%;
}

/* ----- pdocTopic-image ---- */

.pdocTopic-image .pdocSection1 {
    margin: 0;
}
