.input-group-addon {
    min-width:125px;
    max-width:125px;
    text-align:center;
    font-size: 12px;
}

.registration-box {
    max-width: 600px;
    /*z-index: 100;*/
    margin: 0 auto;
    padding-top: 10px;
}

.terms-box {
    overflow-y: scroll;
    height: 200px;
    width: 125%;
    border: 1px solid #DDD;
    padding: 10px;
    resize: none;
}

.serial-input {
    font-family: monospace;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    width: 50%;
    height: 45px;
}

.warning-messages{
    display: none;
}

.modis-wizard-big.wizard > .content {
    min-height: 450px;
}

@media (min-width: 768px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 25em;
        height: 28em;
    }
}
@media (min-width: 992px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 35em;
        height: 16em;
    }
}
@media (min-width: 1200px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 35em;
        height: 16em;
  }
}

.bootstrap-datetimepicker-widget table td.day {
      height: 15px;
      line-height: 10px;
      width: 15px;
}

.bootstrap-datetimepicker-widget table td span {
      display: inline-block;
      width: 15px;
      height: 15px;
      line-height: 15px;
      margin: 2px 1.5px;
      cursor: pointer;
      border-radius: 4px;
}