/**
 * Styles specific to ardj.
 **/
td.num, td.dur,
th.num, th.dur {
	text-align: right;
}
td.wide, th.wide {
	width: 100%;
}

.labels {
	display: block;
}
.labels .label {
	background-color: #888;
	color: white;
	display: inline-block;
	white-space: nowrap;
	line-height: 1.25em;
	padding: 0 5px;
	margin: 0 5px 0 0;
	font-weight: normal;
}

.actions > span {
	margin-right: 1em;
}
.actions a.btn {
	padding: 2px 5px;
	line-height: 100%;
}

.hometabs {
	margin: 20px 0;
}

#msgbox {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
	text-align: center;
}
body.wait * {
    cursor: wait;
}
body.wait #wait_block {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.waitmsg { display: none; }
body.wait .waitmsg { display: block; }
body.wait p.waitmsg { display: block; margin: 20px 0 }

form.async_files label.btn input[type=file] {
	display: none;
}

form.playlist textarea {
	width: 100%;
	max-width: 100%;
	min-height: 200px;
	font-family: monospace;
}


table#player {
	width: 100%;
	border-collapse: collapse;
}
table#player .buttons {
	white-space: nowrap;
	vertical-align: top;
}
table#player td.np {
	width: 100%;
	position: relative;
}
#player .np .left {
	color: #888;
	margin-left: 1em;
}
#player .rpad {
	padding-right: 10px;
}
#player .lpad {
	padding-left: 10px;
}
#player .progress {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 4px;
}
#player .progress .done {
	background-color: #448;
	display: block;
	height: 4px;
}
