.dark-gunmetal {
	background-color: #14232F;
}

.yankees-blue {
	background-color: #1B2C38;
}

.japanese-indigo {
	background-color: #2F444A;
}

.hookers-green {
	background-color: #447164;
}

.wintergreen-dream {
	background-color: #518C74;
}

.header-box {
	padding: 6px;
}

.text-white {
	color: #eeeeee;
}

.scrolled-msg {
	border: none;
}

.viewport-msg {
	padding: 12px;
}

.delivered {
	color: #cccccc;
}

.box-msg {
	background-color: #dddddd;
}

.close-button {
	background-color: transparent;
	border: none;
}

.msg-text-arrive {
    background-image: url("msg-text-arrive.svg");
	background-size: 100% 100%;
	padding-left: 32px;
	padding-right: 6px;
}

.msg-text-send {
    background-image: url("msg-text-send.svg");
	background-size: 100% 100%;
	padding-left: 6px;
	padding-right: 32px;
}