
/** Blog **/

.sidemenu ul li {
    line-height: 30px;
    padding-left: 20px;
    list-style-type: none
}

.sidemenu ol li {
    line-height: 30px;
    margin-left: 20px
}

/** sidemenu Column **/
.sidemenu {
    margin-bottom: 30px;
    position: relative
}

.sidemenu {
    padding: 30px;
    position: relative
}

.sidemenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.sidemenu ul li {
    list-style-type: none;
    line-height: 28px;
    padding: 0;
    margin: 0
}

.sidemenu ul li ul {
    margin-left: 20px
}
