

/* ========== Layout ======== */


html {
    display: flex;
    flex-direction: column;
}

body {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #4f4f4f;
    font-family: sans-serif;
}

/* ---------- Title --------- */

h1 { color: #993333; }
h2 { color: #4f4f4f; text-shadow: 1px 1px 2px #bbbbbb; }
h3 { color: #c05800; text-shadow: 1px 1px 2px #bbbbbb; font-family: sans-serif; }
h4 { text-shadow: 1px 1px 2px #bbbbbb; font-family: sans-serif; margin-bottom: .5em; }

/* ---------- Input --------- */

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="file"],
select,
textarea,
label.wbCustomCheckbox {
    font-family: Roboto, sans-serif;
    color: #4f4f4f;
    background-color: #fcfcfc;
    border: 1px solid #bbbbbb;
    outline: 0;
}

textarea { width: 100%; }

input[type="image"] {
    outline: 0;
}

input.wbCustomCheckbox {
    display: none;
}

label.wbCustomCheckbox {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: top;
}
input:checked.wbCustomCheckbox + label.wbCustomCheckbox {
    background: #fcfcfc url("../Images/checked.svg") no-repeat center center;
}

input::-moz-focus-inner {
    border: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #4f4f4f;
}

/* ---------- Link ---------- */

a {
    text-decoration: none;
    color: black;
    outline: 0;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

h3 a:link,
h3 a:visited {
    color: #c05800;
}

/* --------- Column --------- */

#mz { text-align: center; }
#mzfull,#mz780,#mz975 { margin: auto; min-width: 40em; text-align: left; }
#mz780 { width:60em; }
* html #mz780 { width: 58.5em; }
#mz975 { width: 75em; }
* html #mz975 { width:73.125em; }
.colFirst { margin: 0; padding-right: 1%; float: left; }
.col { margin: 0; padding: 0 1% 0 1%; float: left; }
.colLast { margin:0; padding-left:1%; }
.col11 .colFirst { width: 49%; }
.col11 .colLast { margin-left: 50%; }
.col21 .colFirst { width: 66%; }
.col21 .colLast { margin-left: 67%; }
.col31 .colFirst { width: 75%; }
.col31 .colLast { margin-left: 76%; }
.col12 .colFirst { width: 33%; }
.col12 .colLast { margin-left:34%; }
.col111 .colFirst, .col111 .col { width: 32%; }
.col111 .colLast { margin-left: 67%; }
.col13 .colFirst { width: 24%; }
.col13 .colLast { margin-left: 25%; }
.col1111 .colFirst, .col1111 .col { width: 24%; }
.col1111 .colLast { margin-left: 76%; }

/* ---------- Flex ---------- */

.flexRowContainer {
    display: -webkit-flex;
    display: flex;
}

.flexColumnContainer {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
}

.flexItem {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* ------ Miscellanous ------ */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

.hidden {
    display:none;
}

.slow img { vertical-align: middle; }
.confirm { color: #3333ff; }
.caption {  color: #7f7f7f; display: block; ; margin: .5em 0 .3em 0; }
.ok { color: #339933; }
.ko { color: #ff0000; }
.more a { color: #7f7f7f; font-size: 93%; }
.note p { margin: 0; }
.error strong,
strong.error {
    color: red;
    font-family: sans-serif;
    font-size: 85%;
}


/* ========= Buttons ======== */


#buttons {
    padding: 5px;
    color: white;
    background: #4f4f4f;
}

#buttons .first { float: left; padding-top: 1px; }
#buttons .last { text-align: right; line-height: 1.65em; }
#buttons img, #buttons input[type="image"] { vertical-align: middle; }

.button, .buttonMain {
    cursor: pointer;
    padding: 3px 6px 3px 6px;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #004080;
    background-color: #fafafa;
    background: linear-gradient(#fafafa, #bbbbbb);
    text-decoration: none;
    text-shadow: 0 1px 0 #eeeeee;
    font-size: 85%;
    font-weight: normal;
}
a.button, a.buttonMain,
a.button:visited,
a.buttonMain:visited {
    color: #004080;
}
a.button:hover,
a.buttonMain:hover {
    text-decoration: none;
    background: linear-gradient(#ffffff, #cccccc);
}
input.button:hover,
input.buttonMain:hover {
    background: linear-gradient(#ffffff, #cccccc);
}
a.button img, a.buttonMain img { vertical-align: middle; }

.buttonMain { font-weight: bold; }


/* =========== Flash ======== */


#flash {
    color: #339933;
    background: #fafafa url("../Images/flash_info.png") no-repeat 5px 5px;
    padding: 1em 1em 1.1em 55px;
    margin: .5em 0 .5em 0;
    border: 1px solid #ddddcc;
    font-size: 108%;
    font-weight: bold;
}
#flash.alert {
    color: #993333;
    background: #fafafa url("../Images/flash_alert.png") no-repeat 5px 5px;
}


/* ========== Filter ======== */


/* -------- Condition ------- */

.wbFilterConditions {
    margin-right: 5px;
}

.wbFilterCondition {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #f0f8ff;
    border: 1px solid #cccccc;
}

.wbFilterCondition input {
    padding: 2px 3px;
    color: #004080;
    background-color: #c7e0f8;
    border: none;
    cursor: pointer;
}
.wbFilterCondition input:hover {
    color: white;
    background-color: #00bdff;
}

.wbFilterCondition span {
    padding: 2px 5px;
}

/* ---------- Inputs -------- */

span.wbFilterInput {
    display: inline-block;
    padding-bottom: 5px;
}

.wbFilterInput > span {
    padding-right: 10px;
}
.wbFilterInput > span.wbFilterNoOp,
.wbFilterInput > span:last-child {
    padding-right: 0;
}

.wbFilterInput select,
.wbFilterInput input[type="text"] {
    padding: 1px 0;
}

.wbFilterInput > span > span {
    color: #4f4f4f;
    border-bottom: 1px solid #bbbbbb;
}

.wbFilterInput label.wbCustomCheckbox {
    margin-top: 3px;
}

.wbFilterInput select,
.wbFilterInput input {
    border-top: none;
    border-right: none;
    border-left: none;
}

.wbFilterInput .wbFilterValue select,
.wbFilterInput .wbFilterValue input {
    border: 1px solid #bbbbbb;
}

/* --------- Button --------- */

.wbFilterButton {
    border: none;
    color: #004080;
    background-color: #c7e0f8;
    padding: 2px 5px;
}
.wbFilterButton:hover {
    color: white;
    background-color: #00bdff;
    cursor: pointer;
}


/* ========= Paging ========= */


/* --------- Filter --------- */

.filter h3 {
    display: inline;
    padding: 4px 0 4px 5px;
    color: #004080;
    font-size: 85%;
    background: white url("../Images/tab.png") left -80px;
}
.filter h3 span {
    line-height: 1.6em;
    padding: 4px 12px 3px 0;
    background: white url("../Images/tab.png") right -80px;
}
* html .filter h3 { padding-top: 0; }
*+html .filter h3 { padding-top: 0; }

.filter .col11 {
    padding: 8px 5px 5px 5px;
    border: #999999 solid 1px;
    background-color: #fafafa;
}
.filter .col11 .colFirst { font-size: 85%; }
.filter .col11 .colLast { font-size: 85%; }
* html .filter .col11 .colFirst { position: relative; }
* html .filter .col11 .colLast label { position: relative; }

.filter input[type="text"] { width: 90%; }
.filter .submit { clear: both; margin-top: .5em; font-size: 93%; }
.filter .clear { clear: right; }

/* --------- Actions -------- */

h2.list { margin: 0 0 .5em 0; background-color: transparent; }
h3.list { display: none; }

.listActions {
    margin-top: .4em;
    padding-bottom: .3em;
    background-color: #ffffee;
    border-top: #999999 dotted 1px;
    border-bottom: #999999 dotted 1px;
    text-shadow: 1px 1px 1px #bbbbbb;
}
.listActions .first {
    float: left;
    margin: .2em 1em 0 0;
    font-size: 108%;
    color: #5f7ab1;
    font-weight: bold;
}
.listActions .last {
    text-align: right;
    margin: .2em 0 0 1em;
    line-height: 1.5em;
}
.listActions h2 { margin: 0; }
.listActions span { color: #3333ff; }
.listActions label { text-shadow: none; font-size: 93%; }
.listActions .path h3 { margin: 0; color: black; text-shadow: none; }
.listActions .path a { color: black; }
.listActions .path span { color: #3333ff; }
.listActions .processing { text-shadow: none; color: #7f7f7f; }
.listActions .pack { font-weight: normal; text-shadow: none; color: #7f7f7f; }
.listActions .packFilter { width: 8em; }
.listActions img, .listActions input { vertical-align: middle; }
* html .listActions .first { position: relative; }

/* --------- Table ---------- */

.list {
    width: 100%;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

.list caption { display: none; }

th a {
    padding-right: 16px;
}
th a.pfSortAsc, .pfPagingBar a.pfSortAsc {
    background: transparent url(../Images/sort_asc.png) no-repeat right center;
}
th a.pfSortDesc, .pfPagingBar a.pfSortDesc {
    background: transparent url(../Images/sort_desc.png) no-repeat right center;
}

.list tr { border-top: #999999 dashed 1px; vertical-align: top; }
.list tr#current { background-color: #f0f8ff; }
.list tr.action { border: none; background-color: #f0f8ff; }
.list tr.note { border: none; color: #004080; }
.list tr.files { border: none; color: #4f4f4f; }
.list tr.files a { color: #4f4f4f; }
.list tr:hover { background-color: #f0f8ff; }
.list tr.buildMsg { color: #ff0000; border: none; }
.browse tr { border-top: none; }

.list th {
    padding: .4em .3em .3em .3em;
    text-align: left;
    vertical-align: middle;
    background: #dfded0 url("../Images/list_header.png") repeat-x left top;
    border-top: white solid 1px;
    border-right: none;
    border-bottom: #999999 solid 1px;
    border-left: none;
    text-shadow: 1px 1px 1px #999999;
}
.list th:first-child { padding-left: 5px; }
.list th.last { text-align: right; padding-right: 5px; }
.list th.checkbox { width: 1em; padding-left: 5px; text-align: left; }
.list th.center { text-align: center; }
.group th { vertical-align: top; background: none; text-shadow: none; }
.browse th { text-align: right; }
.browse th.first { text-align: left; }
.browse th.last { text-align: left; }

.list td { border: none; font-size: 93%; }
.list td:first-child { padding-left: 5px; }
.list td.last { text-align: right; padding-right: 5px; }
.list td.checkbox { width: 1em; padding-left: 5px; text-align: left; }
.list td.key { color: #b1724e; }
.list td.info { color: #7f7f7f; font-size: 85%; }
.list td.center { text-align: center; }
.list td.actions { white-space: nowrap; }
.list td form { font-size: 85%; color: #3333ff; }
.list td div { margin: 0; }
.list td input[type="text"]  { width: 100%; }
.list td input[type="checkbox"]  { margin: 0; }
.list .buildMsg td { padding-top: 0; }
.browse td { padding: .2em .7em .2em .5em; text-align: right; white-space: nowrap; }
.browse td.first { text-align: left; }
.browse td.last { text-align: left; }
.browse td .overview {
    font-size: 82%;
    color: #7f7f7f;
    white-space: normal;
    word-break: break-all;
    margin: 1px 0 0 1px;
    padding-left: .4em;
    border-left: 2px solid #cccccc;
}

.list img { vertical-align: middle; }
.list input[type="image"] { vertical-align: middle; }
.list select { font-size: 94%; }

.list a.collapse, a.collapse { text-decoration: none; }
.list a:focus { border: none; }
.list a.currentPack { font-weight: bold; }
.list .buildMsg a { color: #ff0000; }
.list td.search-extract a { color: #7f7f7f; font-size: 77%; }
.list td.search-extract a:hover { text-decoration: none; }
.list td.search-image a { color: #7f7f7f; font-size: 77%; }
.browse a:hover { text-decoration: none; }
#browseDescription { color: #7f7f7f; }

@media screen and (max-width: 1024px) {
    .list .search-extract,
    .browse .storage-size,
    .browse .storage-age,
    .browse .storage-revision {
        display: none;
    }
}

/* ------- Small table ------ */

.smallList .listActions {
    margin: 0;
    color: #7f7f7f;
    background-color: transparent;
    border-top: none;
    font-size: 93%;
}
.smallList .listActions span { color: black; }
.smallList tr { border-top: #999999 dotted 1px; }
.smallList th { font-size: 85%; text-shadow: none; }
.smallList td { font-size: 85%; text-shadow: none; padding-bottom: .1em; }
.smallList.listActions { background-color: #fafafa; }
.smallList.listPager { background-color: #fafafa; padding-top: .1em; }

/* --------- Cards ---------- */

.pfPagingBar {
    padding: .4em .3em .3em .3em;
    vertical-align: middle;
    background: #dfded0 url("../Images/list_header.png") repeat-x left top;
}

.pfPagingBar a {
    display: inline-block;
    margin-left: 10px;
    padding-right: 16px;
    font-weight: bold;
}

.browseUp {
    margin: 3px 5px 0 5px;
}

.pfPagingCards {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

.pfPagingCard {
    list-style: none;
    width: 100%;
}

.pfPagingCard > div {
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid #cccccc;
    height: 100%;
    overflow: hidden;
}

.pfPagingCard img,
.pfPagingCard input[type="image"]  {
    vertical-align: bottom;
}

.pfPagingCard .checkbox {
    text-align: right;
}

.pfPagingCard .overview {
    font-size: 80%;
    color: #7f7f7f;
    margin: 1px 0 0 1px;
}

.pfPagingCard .storage-action,
.pfPagingCard .checkbox {
    margin-top: 5px;
}

.pfPagingCard .info {
    margin-top: 5px;
    font-size: 80%;
    color: #7f7f7f;
}

/* --------- Message -------- */

#browseMsg {
    padding: 1em;
    margin: 1em 0 1em 0;
    font-size: 108%;
    font-weight: bold;
    color: #993333;
    background-color: #ffeeee;
    border: 1px dotted #993333;
}

/* ------ Pager/Footer ------ */

.listPager, .listFooter {
    padding: .2em 0 .3em 0;
    border-top: #999999 solid 1px;
    border-bottom: #999999 dotted 1px;
    background-color: #ffffee;
    font-weight: bold;
    text-shadow: 1px 1px 1px #bbbbbb;
}
.listPager .first {
    float: left;
    color: #3333ff;
    font-size: 108%;
}
.listPager .last, .listFooter {
    font-family: sans-serif;
    text-align: right;
    color: #7f7f7f;
    font-size: 85%;
    text-shadow: none;
    font-weight: normal;
}
.listPager img { vertical-align: middle; }
.listPager a { color: #5f7ab1; }

/* ------- Responsive ------- */

@media screen and (min-width: 45rem)  { .pfPagingCard { width: 50%; } }
@media screen and (min-width: 60rem)  { .pfPagingCard { width: 33.3%; } }
@media screen and (min-width: 75rem)  { .pfPagingCard { width: 25%; } }
@media screen and (min-width: 90rem)  { .pfPagingCard { width: 20%; } }
@media screen and (min-width: 105rem) { .pfPagingCard { width: 16.6%; } }
@media screen and (min-width: 120rem) { .pfPagingCard { width: 14.2%; } }
@media screen and (min-width: 135rem) { .pfPagingCard { width: 12.5%; } }
@media screen and (min-width: 150rem) { .pfPagingCard { width: 11.1%; } }


/* ====== actionParams ====== */


#actionParams {
    margin: 0;
    padding: 5px .4em 5px .4em;
    background-color: #f0f8ff;
    text-shadow: none;
    width: 100%;
}
#actionParams .submit { text-align: right; margin-top: .2em; }
#actionParams .last { margin: .3em 0 0 0; }

.pfPagingCard #actionParams .formItem,
td #actionParams .formItem { margin-bottom: .1em; }
.pfPagingCard #actionParams .formItem label,
td #actionParams .formItem label { float: none; width: auto; }
.pfPagingCard #actionParams .formItem div,
td #actionParams .formItem div { margin: 0; padding: 0;}
.pfPagingCard #actionParams .formItem input[type="text"],
td #actionParams .formItem input[type="text"] { width: 100%; }
.pfPagingCard #actionParams .formItem input[type="file"],
td #actionParams .formItem input[type="file"] { width: 100%; }

.files #actionParams { font-size: 93%; }


/* ======= Grid Form ======== */


.formItem { margin-bottom: .4em; }
* html .formItem { margin-bottom: .39em; }
.formItem label { float:left; margin:0; padding-right:1em; width:18%; text-align: left; }
.formItem div, .formItem span { display:block; margin:0 0 0 19%; padding-left:1em; text-align:left; }
.formItem div div { margin: 0 0 .2em 0; padding: 0; }
.formItem div em { display:block; font-size:85%; color:gray; }
.formItem strong { color: red; }
.formItem .error { display:block; padding:0; margin:0; font-family:sans-serif; font-weight:bold; color:red; }

.formItem label em { color: #004080; font-weight: bold; font-style: normal; }
.formItem label.wbCustomCheckbox { width: 1em; padding-right: 0; }

.formItem img,
.formItem input[type="image"] { vertical-align: middle; }
.formItem input[type="text"],
.formItem input[type="password"],
.formItem textarea { width: 50%; margin-bottom: .2em; }
.formItem input[type="text"].picker { width: 6em; }
.formItem input[type="checkbox"] { margin-top: 3px; }
.formItem ul { margin: .5em 0 0 0; font-family: sans-serif; }
.formItem ul ul { margin: 0 0 0 1.5em; }
.formItem ul li { list-style-type: none; }
.formItem div em { font-family: sans-serif; font-style: normal; }
.formItem hr { margin: 1.2em 0 1em 0; }
.formItem h3 { margin: .6em 0 .2em 0; }
.formItem pre { margin-bottom: .3em; }

.formCheck { margin-bottom: .3em; }
* html .formCheck { margin-bottom: .29em; }
.formCheck label { color: #004080; font-weight: bold; }


/* ========== Tabset ======== */


/* ----------- Toc ---------- */

#tabs { margin: 1em 0 1em 0; }

#tabs .listActions { background-color: #f0f8ff; }

.tabs {
    height: 2em;
    margin: 0;
    padding: 0;
    font-size: 85%;
    border-bottom: #999999 solid 1px;
}

.tabs li {
    float: left;
    list-style-type: none;
    margin-left: -1px;
    background-color: #f0f8ff;
}
.tabs li:first-child { margin-left: 0; }
* html .tabs li { margin-left: 0; }

.tabs a {
    float: left;
    display: block;
    padding-left: 10px;
    color: #5f7ab1;
    background: white url("../Images/tab.png");
    font-weight: bold;
    text-decoration: none;
    outline: none;
}
.tabs a:visited { color: #5f7ab1; }
.tabs a:hover {
    color: #5f7ab1;
    background-color: #fafafa;
    background-position: left -80px;
}
.tabs a:hover span { background-position: right -80px; }
* html a { padding-bottom: 1px; }

.tabs li.tabCurrent { background-color: #fafafa; }
.tabs li.tabCurrent a {
    background-position: left -80px;
    padding-bottom: 1px;
}
.tabs li.tabCurrent span { background-position: right -80px; }

.tabs span {
    display: block;
    line-height: 2em;
    padding-right: 14px;
    background: white url("../Images/tab.png") right top;
}

/* --------- Content -------- */

.tabContent {
    clear: left;
    background-color: #fafafa;
    border-top: none;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    border-left: #999999 solid 1px;
    padding: 10px;
}
* html .tabContent { border-top-color: #fafafa; }
*+html .tabContent { border-top-color: #fafafa; }
.tabContent legend { margin:0; padding:0; }
.tabContent legend span { display:none; }
.tabContent div.info { margin-bottom: .5em; }
.tabContent ul.item { margin: 0 1em 0 0; }
.tabContent ul.checkbox { margin: 0 1em 0 0; }
.tabContent ul.checkbox li { list-style-type: none; }
.tabContent .menu_items { margin-bottom: .8em; }
.tabContent .menu_items ul li {
    list-style-type: square;
    list-style-position: inside;
}
.tabContent .menu_items ul ul { margin-top: .3em; }
.tabContent #description { width: 100%; }
.tabContent .date input { width: 7em; }
.tabContent input[name="new_ip"] { width: 8em; }
.tabContent .note {
    padding: .5em;
    background: white;
    border: #999999 solid 1px;
}


/* ======== toolTip ========= */


#toolTip {
    padding: 10px;
    margin: .5em 0 1.1em 0;
    background-color: #f0f8ff;
    border: 1px dashed #5f7ab1;
    box-shadow: 2px 2px 3px #bbbbbb;
}

#toolTipContent {
    position: absolute;
    padding: 5px 10px 8px 10px;
    text-align: left;
    color: black;
    background-color: #f0f8ff;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 3px #bbbbbb;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 2px 2px 3px #bbbbbb;
    white-space: normal;
    z-index: 9999;
}
#toolTipContent.status {
    font-size: 93%;
}

#toolTip .formItem label,
#toolTipContent .formItem label {
    width: 11%;
}
#toolTip .formItem div,
#toolTipContent .formItem div,
#toolTip .formItem span,
#toolTipContent .formItem span {
    margin-left: 12%;
}


/* ======== dialogBox ======= */


#dialogBox {
    margin: .5em 0 1em 0;
    border: 2px solid #5f7ab1;
    box-shadow: 2px 2px 3px #bbbbbb;
    border-radius: 3px;
}
#dialogBox.preview { margin: 5px 5px 1em 0; }

#dialogBoxTitle {
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    color: white;
    background: linear-gradient(#799be1, #5f7ab1);
}
#dialogBoxTitle .first { float:left; }
#dialogBoxTitle .last { text-align: right; }

#dialogBoxContent { margin: 5px; }

#dialogBox .listActions { background-color: #fafafa; }
#dialogBox .listPager { background-color: #fafafa; }


/* ===== HttpException ====== */


.HTTPException {
    font-size: 167%;
    color: #993333;
    margin: 3em;
    text-align: center;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ========== Header ======== */


#header {
    background-color: #fffff0;
    min-width: 55em;
}

#header h1 { float:left; margin: 5px; min-height: 30px; }
#header .clear { visibility: visible; width: 100%; background-color: black; }

#header h1 a {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 149px;
    height: 37px;
    cursor: pointer;
    background: transparent url("../Images/publiforge.png") no-repeat left top;
}

#user { padding-top: 20px; }

#userPre {
    display: block;
    float: right;
    height: 1.4em;
    width: 2em;
    padding: .3em 0 .1em 0;
    background: transparent url("../Images/user_pre.png") no-repeat right top;
}

#userName  {
    display :block;
    float: right;
    height: 1.4em;
    padding: .3em 5px .1em 5px;
    background-color: #ddddcc;
}
#userName a { font-size: 85%; }

#userTools {
    display: block;
    float: right;
    height: 1.4em;
    padding: .3em 5px .1em 5px;
    background-color: #4f4f4f;
}
#userTools img { vertical-align: middle; }

* html #userPre,
* html #userName,
* html #userTools { height: 1.6em; padding-top: .4em; }


/* ======== Breadcrumbs ===== */


#breadcrumbs {
    padding: 8px 5px 3px 5px;
    color: white;
    background: #993333 url("../Images/breadcrumbs_top.png") repeat-x left top;
    border-bottom: 1px solid #000000;
}

#breadcrumbs .first {
    float:right;
    margin-left: 1em;
    text-align: right;
    font-variant: small-caps;
}
#breadcrumbs .first h2 {
    margin: 0;
    color: white;
    font-size: 85%;
    font-weight: normal;
    text-shadow: none;
}

#breadcrumbs .last { font-size: 85%; }
#breadcrumbs .last a { color: white; }


/* ======== Container ======= */


#pfContainer {
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    flex: 1 1 auto;
    display: flex;
}

#pfWrapper {
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    flex: 1 1 auto;
    display: flex;
}


/* ========= Panels ========= */


#asidePanel {
    background-color: #ddddcc;
    border-right: 1px solid black;
}

#asideClose {
    text-align: right;
    padding-right: 5px;
    background: #c7c7b7 url("../Images/left_title.png") repeat-x top left;
    border-bottom: 1px solid #aeaea0;
}

#asideOpen {
    display: none;
    float: left;
    margin: 1px 5px 5px 5px;
    text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
}

#asideClose span,
#asideOpen span {
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
}

#asideContent {
    perspective: 600px;
    position: relative;
}

#contentPanel {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    background-color: #fafafa;
    width: 0;
}

#panelResize {
    position: absolute;
    cursor: col-resize;
    background-color: #ddddcc;
    width: 4px;
    height: 50px;
    top: 95px;
    left: -1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#main {
    margin: 5px 5px 10px 8px;
}

@media screen and (max-width: 1024px) {
    #asideContent {
        font-size: 93%;
    }
}
@media screen and (max-width: 768px) {
    #asideContent {
        font-size: 85%;
        word-break: break-all;
    }
}


/* ======== Selection ======= */


#selection {
    border: none;
    background-color: #ddddcc;
    margin: 0;
}
#selection.flip {
    width: 100%;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.showSelection #selection.flip {
    z-index: 3;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#selection legend {
    width: 100%;
    padding: .2em 0 .2em 0;
    background-color: #ddddcc;
    border-top: 1px solid #fbfbe8;
    border-bottom: 1px solid #aeaea0;
}

#selection legend span {
    color: #993333;
    font-weight: bold;
    margin: 0 5px 0 5px;
    font-size: 108%;
}

#selection legend strong {
    float: right;
    width: 16px;
    height: 16px;
    margin: .3em 3px 0 0;
    cursor: pointer;
    background: transparent url("../Images/close_dark.png") no-repeat top left
}

#selectionFiles {
    margin: 5px;
    border-radius: 5px;
}

#selectionFiles ul {
    margin: 0;
}

#selectionFiles ul li {
    list-style-type: none;
    color: #4f4f4f;
    text-shadow: 1px 1px 1px #aeaea0;
    margin-bottom: 1.4em;
    /* word-break: break-all; */
}
#selectionFiles ul li:last-child {
    margin-bottom: 0;
}

#selectionFiles ul li .storage {
    border-bottom: 1px solid #999999;
    padding-bottom: .1em;
    margin-bottom: .5em;
}

#selectionFiles ul li input[type="checkbox"] {
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

#selectionFiles ul li a { color: #4f4f4f; }
#selectionFiles ul li a:hover { text-decoration: none; }

#selectionFiles ul ul li {
    margin-bottom: .4em;
    font-size: 85%;
    border-bottom: none;
}
#selectionFiles ul li li:hover { background-color: #c7c7b7; }

#selectionFiles ul li .overview {
    font-size: 82%;
    text-shadow: none;
    color: #7f7f7f;
    margin: 1px 0 0 32px;
    padding-left: .4em;
    border-left: 2px solid #bbbbbb;
}

.selectionTool { cursor: pointer; }

/* =========== Menu ========= */


#menu {
    border: none;
    background-color: #ddddcc;
}
#menu.flip {
    width: 100%;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.showSelection #menu.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#menu legend { display: none; }

#menu ul { margin: 0; }
#menu ul li {
    list-style-type: none;
    list-style-position: inside;
}
#menu ul li strong {
    display: block;
    padding: .2em 5px .2em 5px;
    color: #993333;
    background-color: #ddddcc;
    border-top: 1px solid #fbfbe8;
    border-right: 1px solid #aeaea0;
    border-bottom: 1px solid #aeaea0;
    font-size: 108%;
}

#menu ul li .selection { display: block;  cursor: pointer; }
#menu ul li .selection:hover { background-color: #c7c7b7; }

#menu ul ul { margin: 5px 0 5px 0; }
#menu ul ul li {
    margin-bottom: .4em;
    padding: 0 5px 0 5px;
    color: #4f4f4f;
    font-weight: bold;
    text-shadow: 1px 1px 1px #aeaea0;
}
#menu ul ul li em { font-style: normal; }
#menu ul ul li a { display: block; color: #4f4f4f; }
#menu ul ul li a:hover { text-decoration: none; background-color: #c7c7b7; }
#menu ul ul li ul { display: none; }
#menu ul ul li.active ul { display: block; }

#menu ul ul ul { margin: .1em 0 0 1.3em; font-size: 89%; }
#menu ul ul ul li { font-weight: normal; margin-bottom: .1em; }

#menu a.current { color: #3333ff; }


/* ========== Footer ======== */


#footer {
    padding: 10px 5px 5px 5px;
    color: #999999;
    text-shadow: 0 -1px 0 #000000;
    border-top: 1px solid #000000;
    background: #4f4f4f url("../Images/footer_top.png") repeat-x top left;
    font-size: 93%;
}

#footer div { background: none; }
#footer a { color: #999999; }
#footer img { vertical-align: bottom; }
#footer .colFirst { text-align: left; }
#footer .col { text-align: center; }
#footer .colLast { text-align: right; }


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ========= Subtitle ======= */


#subtitle {
    height: 32px;
    margin: 0;
    padding-right: 40px;
    text-align: right;
}

#subtitle.user {
    background: transparent url("../Images/user32.png") no-repeat right top;
}
#subtitle.group {
    background: transparent url("../Images/group32.png") no-repeat right top;
}
#subtitle.storage {
    background: transparent url("../Images/storage32.png") no-repeat right top;
}
#subtitle.indexer {
    background: transparent url("../Images/indexer32.png") no-repeat right top;
}
#subtitle.search {
    background: transparent url("../Images/search32.png") no-repeat right top;
}
#subtitle.info {
    background: transparent url("../Images/info32.png") no-repeat right top;
}
#subtitle.opener {
    background: transparent url("../Images/opener32.png") no-repeat right top;
}
#subtitle.project {
    background: transparent url("../Images/project32.png") no-repeat right top;
}
#subtitle.role {
    background: transparent url("../Images/role32.png") no-repeat right top;
}
#subtitle.processing {
    background: transparent url("../Images/processing32.png") no-repeat right top;
}
#subtitle.task {
    background: transparent url("../Images/task32.png") no-repeat right top;
}
#subtitle.job {
    background: transparent url("../Images/job32.png") no-repeat right top;
}
#subtitle.pack {
    background: transparent url("../Images/pack32.png") no-repeat right top;
}
#subtitle.build {
    background: transparent url("../Images/build32.png") no-repeat right top;
}

#subtitle em {
    display: block;
    font-style: normal;
    font-size: 69%;
    text-shadow: none;
}


/* ======= Description ====== */


.description {
    margin-bottom: 1em;
}

.description div { text-align: justify; }

#descriptionProject {
    margin: 1.5em 0 1.5em 0;
    padding: 5px;
    background-color: #ffffdd;
    border: 1px dashed #bbbbbb;
    box-shadow: 2px 2px 3px #bbbbbb;
}

#descriptionProject .description {
    font-size: 116%;
    margin: 0;
}

#descriptionProject .formItem {
    margin: .4em 0 0 0;
}
#descriptionProject .formItem label {
    width: auto;
}
#descriptionProject .formItem div {
    margin-left: auto;
}


/* =========== Vcs ========== */


.vcsUser { font-size: 85%; }
.vcsUser input[type="text"], .vcsUser input[type="password"] {
    width: auto;
}


/* ========== Files ========= */


.files li { margin-bottom: .3em; }

.files #actionParams {
    font-size: 93%;
    margin: .2em 0 .2em 0;
    border-bottom: none;
}


/* =========== Log ========== */


#build h3 {
    color: black;
}

#logLines {
    font-size: 85%;
    color: #4f4f4f;
    margin-top: .5em;
    padding: .8em .5em .8em .5em;
    background-color: #fafafa;
    border: 1px solid #bbbbbb;
    overflow-x: auto;
}

#toolTipContent #logLines {
    padding: 2px;
    overflow: hidden;
}

#content pre.logLines {
    margin: .2em 1em .2em 0;
    padding: 0;
}

#values pre {
    font-size: 93%;
}


/* ========= Content ======== */

#content {
    overflow-y: auto;
}

#content pre {
    padding: 1em 0 1em 0;
}

#content img {
    max-width: 100%;
}

#content .spacer {
    height: 6em;
}


/* ========= Progress ======= */


#progressGauge {
    height: 15px;
    border: 1px solid #bbbbbb;
}
.progressGauge {
    height: 8px;
    border: 1px solid #bbbbbb;
}

#progressGauge div {
    height: 15px;
    background: transparent url("../Images/progress.gif") repeat-x left top;
}
.progressGauge div {
    height: 8px;
    background: transparent url("../Images/progress.gif") repeat-x left top;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ======= Maintenance ====== */

#pfMaintenance #main div {
    text-align: center;
}

#pfMaintenance #main h1 {
    color: #993333;
    text-align: center;
    font-size: 250%;
    margin: 80px 20px;
}

#pfMaintenance #main div {
    text-align: center;
    margin: 20px;
    font-size: 167%;
}

/* ========== Search ======== */


#search .label {
    float: left;
    width: 6em;
    font-weight: bold;
    color: #004080;
}

#search .value {
    margin: 0 0 5px 7em;
}

/* #search #scope .value div:nth-child(2n+1) { */
/*     float: left; */
/*     width: 50%; */
/* } */

#search #scope {
    margin-bottom: 10px;
}

#search #scope .value div {
    margin-bottom: 3px;
}

#search .wbFilterInputs {
    display: table;
    width: 100%;
}

#search .wbFilterInput {
    display: table-row;
}

#search .wbFilterInput > span {
    display: table-cell;
    padding-bottom: 10px;
}

#search .wbFilterInput select,
#search .wbFilterInput input {
    width: 100%;
}

#search .wbFilterInput > span > span {
    display: inline-block;
    width: 100%;
}

#search .wbFilterExecute {
    clear: both;
    text-align: right;
}

.searchNoHits {
    text-align: center;
    font-size: 1.2rem;
    color: #4f4f4f;
    margin: 10px;
}


/* ======== Dashboard ======= */


#dashboard {
    text-align: center;
    margin: 1em 0 2em 0;
}

.dashboardEntry {
    float: left;
}

.dashboardEntry a {
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto 0 auto;
}
.dashboardEntry a:hover img {
    display: none;
}

.dashboardEntry-pack:hover {
    background: transparent url("../Images/pack72_over.png") no-repeat left top;
}
.dashboardEntry-task:hover {
    background: transparent url("../Images/task72_over.png") no-repeat left top;
}
.dashboardEntry-build:hover {
    background: transparent url("../Images/build72_over.png") no-repeat left top;
}

.dashboardEntry div {
    color: #4f4f4f;
    font-size: 116%;
    text-shadow: 1px 1px 2px #bbbbbb;
}


/* =========== Task ========= */


.taskList {
    margin: 0;
}

.taskList li {
    list-style-type: none;
    list-style-position: inside;
}

.taskBar {
    margin-bottom: .5em;
    padding: 3px 6px 3px 6px;
    border: 1px solid #bbbbbb;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 2px #bbbbbb;
    background: #dfded0 url("../Images/list_header.png") repeat-x left top;
}
.taskBar img { vertical-align: middle; }
.taskBar a { font-weight: bold; }
.taskBar span { display: block; float: left; }
.taskBar em { display: block; text-align: right; }

.taskCurrent {
    margin: 0 5px .5em 2em;
}

.taskCurrent .description {
    color: #004080;
    margin: 0;
}

.taskCurrent {
    margin: 0 5px .5em 2em;
}


/* ========= Display ======== */


.display .imgTitle {
    margin: 0;
}

.display .imgCopyright {
    font-style: italic;
    font-size: 85%;
    color: #7f7f7f;
}

.display .imgInfo {
    font-size: 85%;
    color: #7f7f7f;
}
