

/* =========== Flash ======== */


#flashZone {
    max-width: 38em;
    margin: 0 auto 10px auto;
}


/* =========== Top ========== */


#top { 
    height: 40px;
    background: #993333 url('../Images/breadcrumbs_top.png') repeat-x top left;
}


/* ======== Container ======= */


#pfContainer {
    display: block;
    background-color: #fafafa;
}

#pfContainer h1 {
    font-size: 240%;
    text-align: center;
    color: black;
    margin: 0;
    padding: 1.5em 1em 1.5em 1em;
}

#pfContainer h1 span {
    color: #993333;
}


/* ========== Login ========= */


#pfLoginForm {
    max-width: 36em;
    margin: 6% auto 20px auto;
    padding: 15px;
    background-color: #ddddcc;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

#pfLoginForm .formItem {
    margin-bottom: 15px;
}

#pfLoginForm .formItem label {
    width: 49%;
    text-align: right;
    color: black;
    font-weight: normal;
}
#pfLoginForm .formItem label.wbCustomCheckbox {
    width: 1em;
}

#pfLoginForm .formItem div,
#pfLoginForm .formItem span {
    margin-left: 50%;
    text-align: left;
}

#pfLoginForm .formItem input[type="text"],
#pfLoginForm .formItem input[type="password"] {
    width: 100%;
}

#lostPwd {
    font-size: 85%;
    font-family: sans-serif;
}
#lostPwd a { color: #7f7f7f; }

#pfLoginForm .submit {
    clear: both;
    text-align: right;
}
